<html><head><style>body {font-family: verdana;font-size: 0.7em;} tr {font-family: verdana;font-size: 0.7em;}</style></head><body>
<h3>File http-form-fuzzer</h3>
<b>Script types:</b> portrule,portrule<br/>
<b>Categories:</b> auth,auth<br/>
<b>Author:</b> Piotr Olma, Gioacchino Mazzurco<br/>
<b>License:</b> <a href="https://nmap.org/book/man-legal.html" target=_blank>https://nmap.org/book/man-legal.html</a><br/>
<b>Download:</b> <a href="https://svn.nmap.org/nmap/scripts/http-form-fuzzer.nse">https://svn.nmap.org/nmap/scripts/http-form-fuzzer.nse</a><br/>
<h3>Summary</h3>
Performs a simple form fuzzing against forms found on websites. Tries strings and numbers of increasing length and attempts to determine if the fuzzing was successful.
<h3>Arguments</h3>
<table>
<tr><td>http-form-fuzzer.minlength:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http-form-fuzzer.maxlength:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http-form-fuzzer.targets:</td><td>A table with the targets of fuzzing, for example {{path = /index.html, minlength = 40002}, {path = /foo.html, maxlength = 10000}}. The path parameter is required, if minlength or maxlength is not specified, then the values of http-form-fuzzer.minlength or http-form-fuzzer.maxlength will be used. Defaults to {{path="/"}}</td></tr>
<tr><td>slaxml.debug:</td><td>See the documentation for the <a href="nmap/libraries/slaxml.htm">slaxml</a> library</td></tr>
<tr><td>httpspider.doscraping:</td><td>See the documentation for the <a href="nmap/libraries/httpspider.htm">httpspider</a> library</td></tr>
<tr><td>httpspider.url:</td><td>See the documentation for the <a href="nmap/libraries/httpspider.htm">httpspider</a> library</td></tr>
<tr><td>httpspider.maxdepth:</td><td>See the documentation for the <a href="nmap/libraries/httpspider.htm">httpspider</a> library</td></tr>
<tr><td>httpspider.maxpagecount:</td><td>See the documentation for the <a href="nmap/libraries/httpspider.htm">httpspider</a> library</td></tr>
<tr><td>httpspider.useheadfornonwebfiles:</td><td>See the documentation for the <a href="nmap/libraries/httpspider.htm">httpspider</a> library</td></tr>
<tr><td>httpspider.withindomain:</td><td>See the documentation for the <a href="nmap/libraries/httpspider.htm">httpspider</a> library</td></tr>
<tr><td>httpspider.withinhost:</td><td>See the documentation for the <a href="nmap/libraries/httpspider.htm">httpspider</a> library</td></tr>
<tr><td>http.host:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.max-body-size:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.max-cache-size:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.pipeline:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.truncated-ok:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.useragent:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>smbdomain:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbhash:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbnoguest:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbpassword:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbtype:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbusername:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
</table>
<h3>Usage</h3>
<pre>nmap --script http-form-fuzzer --script-args &#39;http-form-fuzzer.targets={1={path=/},2={path=/register.html}}&#39; -p 80 &lt;host&gt;</pre>
<h3>Output</h3>
<pre>PORT   STATE SERVICE REASON
80/tcp open  http    syn-ack
| http-form-fuzzer:
|   Path: /register.html Action: /validate.php
|     age
|       integer lengths that caused errors:
|         10000, 10001
|     name
|       string lengths that caused errors:
|         40000
|   Path: /form.html Action: /check_form.php
|     fieldfoo
|       integer lengths that caused errors:
|_        1, 2</pre>
<h3>Requirements</h3>
<ul>
<li><a href="nmap/libraries/shortport.htm">shortport</a></li>
<li><a href="nmap/libraries/http.htm">http</a></li>
<li><a href="nmap/libraries/httpspider.htm">httpspider</a></li>
<li><a href="nmap/libraries/stdnse.htm">stdnse</a></li>
<li><a href="nmap/libraries/string.htm">string</a></li>
<li><a href="nmap/libraries/table.htm">table</a></li>
<li><a href="nmap/libraries/url.htm">url</a></li>
<li><a href="nmap/libraries/rand.htm">rand</a></li>
</ul>
<h3>Code</h3>
<pre>description = [[
Performs a simple form fuzzing against forms found on websites.
Tries strings and numbers of increasing length and attempts to
determine if the fuzzing was successful.
]]

---
-- @usage
-- nmap --script http-form-fuzzer --script-args &#39;http-form-fuzzer.targets={1={path=/},2={path=/register.html}}&#39; -p 80 &lt;host&gt;
--
-- This script attempts to fuzz fields in forms it detects (it fuzzes one field at a time).
-- In each iteration it first tries to fuzz a field with a string, then with a number.
-- In the output, actions and paths for which errors were observed are listed, along with
-- names of fields that were being fuzzed during error occurrence. Length and type
-- (string/integer) of the input that caused the error are also provided.
-- We consider an error to be either: a response with status 500 or with an empty body,
-- a response that contains &quot;server error&quot; or &quot;sql error&quot; strings. ATM anything other than
-- that is considered not to be an &#39;error&#39;.
-- TODO: develop more sophisticated techniques that will let us determine if the fuzzing was
-- successful (i.e. we got an &#39;error&#39;). Ideally, an algorithm that will tell us a percentage
-- difference between responses should be implemented.
--
-- @output
-- PORT   STATE SERVICE REASON
-- 80/tcp open  http    syn-ack
-- | http-form-fuzzer:
-- |   Path: /register.html Action: /validate.php
-- |     age
-- |       integer lengths that caused errors:
-- |         10000, 10001
-- |     name
-- |       string lengths that caused errors:
-- |         40000
-- |   Path: /form.html Action: /check_form.php
-- |     fieldfoo
-- |       integer lengths that caused errors:
-- |_        1, 2
--
-- @args http-form-fuzzer.targets a table with the targets of fuzzing, for example
-- {{path = /index.html, minlength = 40002}, {path = /foo.html, maxlength = 10000}}.
-- The path parameter is required, if minlength or maxlength is not specified,
-- then the values of http-form-fuzzer.minlength or http-form-fuzzer.maxlength will be used.
-- Defaults to {{path=&quot;/&quot;}}
-- @args http-form-fuzzer.minlength the minimum length of a string that will be used for fuzzing,
-- defaults to 300000
-- @args http-form-fuzzer.maxlength the maximum length of a string that will be used for fuzzing,
-- defaults to 310000
--

author = {&quot;Piotr Olma&quot;, &quot;Gioacchino Mazzurco&quot;}
license = &quot;Same as Nmap--See https://nmap.org/book/man-legal.html&quot;
categories = {&quot;fuzzer&quot;, &quot;intrusive&quot;}

local shortport = require &#39;shortport&#39;
local http = require &#39;http&#39;
local httpspider = require &#39;httpspider&#39;
local stdnse = require &#39;stdnse&#39;
local string = require &#39;string&#39;
local table = require &#39;table&#39;
local url = require &#39;url&#39;
local rand = require &#39;rand&#39;

-- check if the response we got indicates that fuzzing was successful
local function check_response(response)
  if not(response.body) or response.status==500 then
    return true
  end
  if response.body:find(&quot;[Ss][Ee][Rr][Vv][Ee][Rr]%s*[Ee][Rr][Rr][Oo][Rr]&quot;) or response.body:find(&quot;[Ss][Qq][Ll]%s*[Ee][Rr][Rr][Oo][Rr]&quot;) then
    return true
  end
  return false
end

-- check from response if request was too big
local function request_too_big(response)
  return response.status==413 or response.status==414
end

-- checks if a field is of type we want to fuzz
local function fuzzable(field_type)
  return field_type==&quot;text&quot; or field_type==&quot;radio&quot; or field_type==&quot;checkbox&quot; or field_type==&quot;textarea&quot;
end

-- generates postdata with value of &quot;sampleString&quot; for every field (that is fuzzable()) of a form
local function generate_safe_postdata(form)
  local postdata = {}
  for _,field in ipairs(form[&quot;fields&quot;]) do
    if fuzzable(field[&quot;type&quot;]) then
      postdata[field[&quot;name&quot;]] = &quot;sampleString&quot;
    end
  end
  return postdata
end

-- generate a charset of characters with ascii codes from 33 to 126
-- you can use http://www.asciitable.com/ to see which characters those actually are
local charset = rand.charset(33,126)
local charset_number = rand.charset(49,57) -- ascii 49 -&gt; 1; 57 -&gt; 9

local function fuzz_form(form, minlen, maxlen, host, port, path)
  local affected_fields = {}
  local postdata = generate_safe_postdata(form)
  local action_absolute = httpspider.LinkExtractor.isAbsolute(form[&quot;action&quot;])

  -- determine the path where the form needs to be submitted
  local form_submission_path
  if action_absolute then
    form_submission_path = form[&quot;action&quot;]
  else
    local path_cropped = string.match(path, &quot;(.*/).*&quot;)
    path_cropped = path_cropped and path_cropped or &quot;&quot;
    form_submission_path = path_cropped..form[&quot;action&quot;]
  end

  -- determine should the form be sent by post or get
  local sending_function
  if form[&quot;method&quot;]==&quot;post&quot; then
    sending_function = function(data) return http.post(host, port, form_submission_path, nil, nil, data) end
  else
    sending_function = function(data) return http.get(host, port, form_submission_path..&quot;?&quot;..url.build_query(data), {no_cache=true, bypass_cache=true}) end
  end

  local function fuzz_field(field)
    local affected_string = {}
    local affected_int = {}

    for i=minlen,maxlen do -- maybe a better idea would be to increment the string&#39;s length by more then 1 in each step
      local response_string
      local response_number

      --first try to fuzz with a string
      postdata[field[&quot;name&quot;]] = rand.random_string(i, charset)
      response_string = sending_function(postdata)
      --then with a number
      postdata[field[&quot;name&quot;]] = rand.random_string(i, charset_number)
      response_number = sending_function(postdata)

      if check_response(response_string) then
        affected_string[#affected_string+1]=i
      elseif request_too_big(response_string) then
        maxlen = i-1
        break
      end

      if check_response(response_number) then
        affected_int[#affected_int+1]=i
      elseif request_too_big(response_number) then
        maxlen = i-1
        break
      end
    end
    postdata[field[&quot;name&quot;]] = &quot;sampleString&quot;
    return affected_string, affected_int
  end

  for _,field in ipairs(form[&quot;fields&quot;]) do
    if fuzzable(field[&quot;type&quot;]) then
      local affected_string, affected_int = fuzz_field(field, minlen, maxlen, postdata, sending_function)
      if #affected_string &gt; 0 or #affected_int &gt; 0 then
        local affected_next_index = #affected_fields+1
        affected_fields[affected_next_index] = {name = field[&quot;name&quot;]}
        if #affected_string&gt;0 then
          table.insert(affected_fields[affected_next_index], {name=&quot;string lengths that caused errors:&quot;, table.concat(affected_string, &quot;, &quot;)})
        end
        if #affected_int&gt;0 then
          table.insert(affected_fields[affected_next_index], {name=&quot;integer lengths that caused errors:&quot;, table.concat(affected_int, &quot;, &quot;)})
        end
      end
    end
  end
  return affected_fields
end

portrule = shortport.http

function action(host, port)
  local targets = stdnse.get_script_args(&#39;http-form-fuzzer.targets&#39;) or {{path=&quot;/&quot;}}
  local return_table = {}
  local minlen = stdnse.get_script_args(&quot;http-form-fuzzer.minlength&quot;) or 300000
  local maxlen = stdnse.get_script_args(&quot;http-form-fuzzer.maxlength&quot;) or 310000

  for _,target in pairs(targets) do
    stdnse.debug2(&quot;testing path: &quot;..target[&quot;path&quot;])
    local path = target[&quot;path&quot;]
    if path then
      local response = http.get( host, port, path )
      local all_forms = http.grab_forms(response.body)
      minlen = target[&quot;minlength&quot;] or minlen
      maxlen = target[&quot;maxlength&quot;] or maxlen
      for _,form_plain in ipairs(all_forms) do
        local form = http.parse_form(form_plain)
        if form and form.action then
          local affected_fields = fuzz_form(form, minlen, maxlen, host, port, path)
          if #affected_fields &gt; 0 then
            affected_fields[&quot;name&quot;] = &quot;Path: &quot;..path..&quot; Action: &quot;..form[&quot;action&quot;]
            table.insert(return_table, affected_fields)
          end
        end
      end
    end
  end
  return stdnse.format_output(true, return_table)
end
</pre>
