<html><head><style>body {font-family: verdana;font-size: 0.7em;} tr {font-family: verdana;font-size: 0.7em;}</style></head><body>
<h3>File smb-psexec</h3>
<b>Script types:</b> hostrule<br/>
<b>Categories:</b> auth<br/>
<b>Author:</b> Ron Bowes<br/>
<b>License:</b> <a href="https://nmap.org/book/man-legal.html" target=_blank>https://nmap.org/book/man-legal.html</a><br/>
<b>Download:</b> <a href="https://svn.nmap.org/nmap/scripts/smb-psexec.nse">https://svn.nmap.org/nmap/scripts/smb-psexec.nse</a><br/>
<h3>Summary</h3>
<p>Implements remote process execution similar to the Sysinternals' psexec tool, allowing a user to run a series of programs on a remote machine and read the output. This is great for gathering information about servers, running the same tool on a range of system, or even installing a backdoor on a collection of computers.</p>
<p>This script can run commands present on the remote machine, such as ping or tracert, or it can upload a program and run it, such as pwdump6 or a backdoor. Additionally, it can read the program's stdout/stderr and return it to the user (works well with ping, pwdump6, etc), or it can read a file that the process generated (fgdump, for example, generates a file), or it can just start the process and let it run headless (a backdoor might run like this).</p>
<p>To use this, a configuration file should be created and edited. Several configuration files are included that you can customize, or you can write your own. This config file is placed in nselib/data/psexec (if you aren't sure where that is, search your system for default.lua), then is passed to Nmap as a script argument (for example, myconfig.lua would be passed as --script-args=config=myconfig.</p>
<p>The configuration file consists mainly of a module list. Each module is defined by a lua table, and contains fields for the name of the program, the executable and arguments for the program, and a score of other options. Modules also have an 'upload' field, which determines whether or not the module is to be uploaded. Here is a simple example of how to run</p>
<pre>
net
localgroup administrators
</pre>
<p>which returns a list of users in the "administrators" group (take a look at the examples.lua configuration file for these examples):</p>
<pre>
  mod = {}
  mod.upload           = false
  mod.name             = "Example 1: Membership of 'administrators'"
  mod.program          = "net.exe"
  mod.args             = "localgroup administrators"
  table.insert(modules, mod)
</pre>
<p>mod.upload is false, meaning the program should already be present on the remote system (since 'net.exe' is on every version of Windows, this should be the case). mod.name defines the name that the program will have in the output. mod.program and mod.args obviously define which program is going to be run. The output for this script is this:</p>
<pre>
  |  Example 1: Membership of 'administrators'
  |  | Alias name     administrators
  |  | Comment        Administrators have complete and unrestricted access to the computer/domain
  |  |
  |  | Members
  |  |
  |  | -------------------------------------------------------------------------------
  |  | Administrator
  |  | ron
  |  | test
  |  | The command completed successfully.
  |  |
  |  |_
</pre>
<p>That works, but it's really ugly. In general, we can use mod.find, mod.replace, mod.remove, and mod.noblank to clean up the output. For this example, we're going to use mod.remove to remove a lot of the useless lines, and mod.noblank to get rid of the blank lines that we don't want:</p>
<pre>
  mod = {}
  mod.upload           = false
  mod.name             = "Example 2: Membership of 'administrators', cleaned"
  mod.program          = "net.exe"
  mod.args             = "localgroup administrators"
  mod.remove           = {"The command completed", "%-%-%-%-%-%-%-%-%-%-%-", "Members", "Alias name", "Comment"}
  mod.noblank          = true
  table.insert(modules, mod)
</pre>
<p>We can see that the output is now much cleaner:</p>
<pre>
|  Example 2: Membership of 'administrators', cleaned
|  | Administrator
|  | ron
|  |_test
</pre>
<p>For our next command, we're going to run Windows' ipconfig.exe, which outputs a significant amount of unnecessary information, and what we do want isn't formatted very nicely. All we want is the IP address and MAC address, and we get it using mod.find and mod.replace:</p>
<pre>
  mod = {}
  mod.upload           = false
  mod.name             = "Example 3: IP Address and MAC Address"
  mod.program          = "ipconfig.exe"
  mod.args             = "/all"
  mod.maxtime          = 1
  mod.find             = {"IP Address", "Physical Address", "Ethernet adapter"}
  mod.replace          = {{"%. ", ""}, {"-", ":"}, {"Physical Address", "MAC Address"}}
  table.insert(modules, mod)
</pre>
<p>This module searches for lines that contain "IP Address", "Physical Address", or "Ethernet adapter". In these lines, a ". " is replaced with nothing, a "-" is replaced with a colon, and the term "Physical Address" is replaced with "MAC Address" (arguably unnecessary). Run ipconfig /all yourself to see what we start with, but here's the final output:</p>
<pre>
|  Example 3: IP Address and MAC Address
|  | Ethernet adapter Local Area Connection:
|  |    MAC Address: 00:0C:29:12:E6:DB
|  |_   IP Address: 192.168.1.21|  Example 3: IP Address and MAC Address
</pre>
<p>Another interesting part of this script is that variables can be used in any script fields. There are two types of variables: built-in and user-supplied. Built-in variables can be anything found in the config table, most of which are listed below. The more interesting ones are:</p>
<ul>
<li>$lhost: The address of the scanner</li>
<li>$rhost: The address being scanned</li>
<li>$path: The path where the scripts are uploaded</li>
<li>$share: The share where the script was uploaded</li>
</ul>
<p>User-supplied arguments are given on the commandline, and can be controlled by mod.req_args in the configuration file. Arguments are given by the user in --script-args; for example, to set $host to '1.2.3.4', the user would pass in --script-args=host=1.2.3.4. To ensure the user passes in the host variable, mod.req_args would be set to {'host'}.</p>
<p>Here is a module that pings the local ip address:</p>
<pre>
  mod = {}
  mod.upload           = false
  mod.name             = "Example 4: Can the host ping our address?"
  mod.program          = "ping.exe"
  mod.args             = "$lhost"
  mod.remove           = {"statistics", "Packet", "Approximate", "Minimum"}
  mod.noblank          = true
  mod.env              = "SystemRoot=c:\\WINDOWS"
  table.insert(modules, mod)
</pre>
<p>And the output:</p>
<pre>
|  Example 4: Can the host ping our address?
|  | Pinging 192.168.1.100 with 32 bytes of data:
|  | Reply from 192.168.1.100: bytes=32 time<1ms TTL=64
|  | Reply from 192.168.1.100: bytes=32 time<1ms TTL=64
|  | Reply from 192.168.1.100: bytes=32 time<1ms TTL=64
|  |_Reply from 192.168.1.100: bytes=32 time<1ms TTL=64
</pre>
<p>And this module pings an arbitrary address that the user is expected to give:</p>
<pre>
  mod = {}
  mod.upload           = false
  mod.name             = "Example 5: Can the host ping $host?"
  mod.program          = "ping.exe"
  mod.args             = "$host"
  mod.remove           = {"statistics", "Packet", "Approximate", "Minimum"}
  mod.noblank          = true
  mod.env              = "SystemRoot=c:\\WINDOWS"
  mod.req_args         = {'host'}
  table.insert(modules, mod)
</pre>
<p>And the output (note that we had to up the timeout so this would complete; we'll talk about override values later):</p>
<pre>
$ ./nmap -n -d -p445 --script=smb-psexec --script-args=smbuser=test,smbpass=test,config=examples,host=1.2.3.4 192.168.1.21
[...]
|  Example 5: Can the host ping 1.2.3.4?
|  | Pinging 1.2.3.4 with 32 bytes of data:
|  | Request timed out.
|  | Request timed out.
|  | Request timed out.
|  |_Request timed out.
</pre>
<p>For the final example, we'll use the upload command to upload fgdump.exe, run it, download its output file, and clean up its logfile. You'll have to put fgdump.exe in the same folder as the script for this to work:</p>
<pre>
  mod = {}
  mod.upload           = true
  mod.name             = "Example 6: FgDump"
  mod.program          = "fgdump.exe"
  mod.args             = "-c -l fgdump.log"
  mod.url              = "http://www.foofus.net/fizzgig/fgdump/"
  mod.tempfiles        = {"fgdump.log"}
  mod.outfile          = "127.0.0.1.pwdump"
  table.insert(modules, mod)
</pre>
<p>The -l argument for fgdump supplies the name of the logfile. That file is listed in the mod.tempfiles field. What, exactly, does mod.tempfiles do? It simply gives the service a list of files to delete while cleaning up. The cleanup process will be discussed later.</p>
<p>mod.url is displayed to the user if mod.program isn't found in nselib/data/psexec/. And finally, mod.outfile is the file that is downloaded from the system. This is required because fgdump writes to an output file instead of to stdout (pwdump6, for example, doesn't require mod.outfile.</p>
<p>Now that we've seen a few possible combinations of fields, I present a complete list of all fields available and what each of them do. Many of them will be familiar, but there are a few that aren't discussed in the examples:</p>
<ul>
<li>upload (boolean) true if it's a local file to upload, false if it's already on the host machine. If upload is true, program has to be in nselib/data/psexec.</li>
<li>name (string) The name to display above the output. If this isn't given, program .. args are used.</li>
<li>program (string) If upload is false, the name (fully qualified or relative) of the program on the remote system; if upload is true, the name of the local file that will be uploaded (stored in nselib/data/psexec).</li>
<li>args (string) Arguments to pass to the process.</li>
<li>env (string) Environmental variables to pass to the process, as name=value pairs, delimited, per Microsoft's spec, by NULL characters (string.char(0)).</li>
<li>maxtime (integer) The approximate amount of time to wait for this process to complete. The total timeout for the script before it gives up waiting for a response is the total of all maxtime fields.</li>
<li>extrafiles (string[]) Extra file(s) to upload before running the program. These will not be renamed (because, presumably, if they are then the program won't be able to find them), but they will be marked as hidden/system/etc. This may cause a race condition if multiple people are doing this at once, but there isn't much we can do. The files are also deleted afterwards as tempfiles would be. The files have to be in the same directory as programs (nselib/data/psexec), but the program doesn't necessarily need to be an uploaded one.
tempfiles (string[]) A list of temporary files that the process is known to create (if the process does create files, using this field is recommended because it helps avoid making a mess on the remote system).</li>
<li>find (string[]) Only display lines that contain the given string(s) (for example, if you're searching for a line that contains "IP Address", set this to {'IP Address'}. This allows Lua-style patterns, see: http://lua-users.org/wiki/PatternsTutorial (don't forget to escape special characters with a %). Note that this is client-side only; the full output is still returned, the rest is removed while displaying. The line of output only needs to match one of the strings given here.</li>
<li>remove (string[]) Opposite of find; this removes lines containing the given string(s) instead of displaying them. Like find, this is client-side only and uses Lua-style patterns. If remove and find are in conflict, then remove takes priority.</li>
<li>noblank (boolean) Setting this to true removes all blank lines from the output.</li>
<li>replace (table) A table of values to replace in the strings returned. Like find and replace, this is client-side only and uses Lua-style patterns.</li>
<li>headless (boolean) If headless is set to true, the program doesn't return any output; rather, it runs detached from the service so that, when the service ends, the program keeps going. This can be useful for, say, a monitoring program. Or a backdoor, if that's what you're into (a Metasploit payload should work nicely). Not compatible with: find, remove, noblank, replace, maxtime, outfile.</li>
<li>enabled (boolean) Set to false, and optionally set disabled_message, if you don't want a module to run. Alternatively, you can comment out the process.</li>
<li>disabled_message (string) Displayed if the module is disabled.</li>
<li>url (string) A module where the user can download the uploadable file. Displayed if the uploadable file is missing.</li>
<li>outfile (string) If set, the specified file will be returned instead of stdout.</li>
<li>req_args (string[]) An array of arguments that the user must set in --script-args.</li>
</ul>
<p>Any field in the configuration file can contain variables, as discussed. Here are some of the available built-in variables:</p>
<ul>
<li>$lhost: local IP address as a string.</li>
<li>$lport: local port (meaningless; it'll change by the time the module is uploaded since multiple connections are made).</li>
<li>$rhost: remote IP address as a string.</li>
<li>$rport: remote port.</li>
<li>$lmac: local MAC address as a string in the xx:xx:xx:xx:xx:xx format (note: requires root).</li>
<li>$path: the path where the file will be uploaded to.</li>
<li>$service_name: the name of the service that will be running this program</li>
<li>$service_file: the name of the executable file for the service</li>
<li>$temp_output_file: The (ciphered) file where the programs' output will be written before being renamed to $output_file</li>
<li>$output_file: The final name of the (ciphered) output file. When this file appears, the script downloads it and stops the service</li>
<li>$timeout: The total amount of time the script is going to run before it gives up and stops the process</li>
<li>$share: The share that everything was uploaded to</li>
<li>(script args): Any value passed as a script argument will be replaced (for example, if Nmap is run with --script-args=var3=10, then $var3 in any field will be replaced with 10. See the req_args field above. Script argument values take priority over config values.</li>
</ul>
<p>In addition to modules, the configuration file can also contain overrides. Most of these aren't useful, so I'm not going to go into great detail. Search smb-psexec.nse for any reference to the config table; any value in the config table can be overridden with the overrides table in the module. The most useful value to override is probably timeout.</p>
<p>Before and after scripts are run, and when there's an error, a cleanup is performed. in the cleanup, we attempt to stop the remote processes, delete all programs, output files, temporary files, extra files, etc. A lot of effort was put into proper cleanup, since making a mess on remote systems is a bad idea.</p>
<p>Now that I've talked at length about how to use this script, I'd like to spend some time talking about how it works.</p>
<p>Running a script happens in several stages:</p>
<ul>
<li>An open fileshare is found that we can write to. Finding an open fileshare basically consists of enumerating all shares and seeing which one(s) we have access to.</li>
<li>A "service wrapper", and all of the uploadable/extra files, are uploaded. Before they're uploaded, the name of each file is obfuscated. The obfuscation completely renames the file, is unique for each source system, and doesn't change between multiple runs. This obfuscation has the benefit of preventing filenames from overlapping if multiple people are running this against the same computer, and also makes it more difficult to determine their purposes. The reason for keeping them consistent for every run is to make cleanup possible: a random filename, if the script somehow fails, will be left on the system.</li>
<li>A new service is created and started. The new service has a random name for the same reason the files do, and points at the 'service wrapper' program that was uploaded.</li>
<li>The service runs the processes. One by one, the processes are run and their output is captured. The output is obfuscated using a simple (and highly insecure) xor algorithm, which is designed to prevent casual sniffing (but won't deter intelligent attackers). This data is put into a temporary output file. When all the programs have finished, the file is renamed to the final output file</li>
<li>The output file is downloaded, and the cleanup is performced. The file being renamed triggers the final stage of the program, where the data is downloaded and all relevant files are deleted.</li>
<li>Output file, now decrypted, is formatted and displayed to the user.</li>
</ul>
<p>And that's how it works!</p>
<p>Please post any questions, or suggestions for better modules, to dev@nmap.org.</p>
<p>And, as usual, since this tool can be dangerous and can easily be viewed as a malicious tool -- use this responsibly, and don't break any laws with it.</p>
<p>Some ideas for later versions (TODO):</p>
<ul>
<li>Set up a better environment for scripts (PATH, SystemRoot, etc). Without this, a lot of programs (especially ones that deal with network traffic) behave oddly.</li>
<li>Abstract the code required to run remote processes so other scripts can use it more easily (difficult, but will ultimately be well worth it later). (May actually not be possible. There is a lot of overhead and specialized code in this module. We'll see, though.)</li>
<li>Let user specify an output file (per-script) so they can, for example, download binary files (don't think it's worthwhile).</li>
<li>Consider running the external programs in parallel (not sure if the benefits outweigh the drawbacks).</li>
<li>Let the config request the return code from the process instead of the output (not sure if doing this would be worth the effort).</li>
<li>Check multiple shares in a single session to save packets (and see where else we can tighten up the amount of traffic).</li>
</ul>
<h3>Arguments</h3>
<table>
<tr><td>nohide:</td><td>Don't set the uploaded files to hidden/system/etc.</td></tr>
<tr><td>cleanup:</td><td>Set to only clean up any mess we made (leftover files, processes, etc. on the host OS) on a previous run of the script. This will attempt to delete the files from every share, not just the first one. This is done to prevent leftover files if the OS changes the ordering of the shares (there's no guarantee of shares coming back in any particular order) Note that cleaning up is still fairly invasive, since it has to re-discover the proper share, connect to it, delete files, open the services manager, etc.</td></tr>
<tr><td>nocipher:</td><td>Set to disable the ciphering of the returned text (useful for debugging).</td></tr>
<tr><td>sharepath:</td><td>The full path to the share (eg, "c:\windows"). This is required when creating a service.</td></tr>
<tr><td>config:</td><td>The config file to use (eg, default). Config files require a .lua extension, and are located in nselib/data/psexec.</td></tr>
<tr><td>time:</td><td>The minimum amount of time, in seconds, to wait for the external module to finish (default: 15)</td></tr>
<tr><td>nocleanup:</td><td>Set to not clean up at all; this leaves the files on the remote system and the wrapper service installed. This is bad in practice, but significantly reduces the network traffic and makes analysis easier.</td></tr>
<tr><td>key:</td><td>Script uses this value instead of a random encryption key (useful for debugging the crypto).</td></tr>
<tr><td>share:</td><td>Set to override the share used for uploading. This also stops shares from being enumerated, and all other shares will be ignored. No checks are done to determine whether or not this is a valid share before using it. Reqires sharepath to be set.</td></tr>
<tr><td>randomseed:</td><td>See the documentation for the <a href="nmap/libraries/smb.html">smb</a> library.</td></tr>
<tr><td>smbbasic:</td><td>See the documentation for the <a href="nmap/libraries/smb.html">smb</a> library.</td></tr>
<tr><td>smbport:</td><td>See the documentation for the <a href="nmap/libraries/smb.html">smb</a> library.</td></tr>
<tr><td>smbsign:</td><td>See the documentation for the <a href="nmap/libraries/smb.html">smb</a> library.</td></tr>
<tr><td>smbdomain:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.html">smbauth</a> library.</td></tr>
<tr><td>smbhash:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.html">smbauth</a> library.</td></tr>
<tr><td>smbnoguest:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.html">smbauth</a> library.</td></tr>
<tr><td>smbpassword:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.html">smbauth</a> library.</td></tr>
<tr><td>smbtype:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.html">smbauth</a> library.</td></tr>
<tr><td>smbusername:</td><td>See the documentation for the <a href="nmap/libraries/smbauth.html">smbauth</a> library.</td></tr>
</table>
<h3>Usage</h3>
<pre>nmap --script smb-psexec.nse --script-args=smbuser=&lt;username&gt;,smbpass=&lt;password&gt;[,config=&lt;config&gt;] -p445 &lt;host&gt;
nmap -sU -sS --script smb-psexec.nse --script-args=smbuser=&lt;username&gt;,smbpass=&lt;password&gt;[,config=&lt;config&gt;] -p U:137,T:139 &lt;host&gt;</pre>
<h3>Output</h3>
<pre>Host script results:
|  smb-psexec:
|  |  Windows version
|  |  |_ Microsoft Windows 2000 [Version 5.00.2195]
|  |  IP Address and MAC Address from &#39;ipconfig.exe&#39;
|  |  |  Ethernet adapter Local Area Connection 2:
|  |  |         MAC Address: 00:50:56:A1:24:C2
|  |  |         IP Address: 10.0.0.30
|  |  |  Ethernet adapter Local Area Connection:
|  |  |_        MAC Address: 00:50:56:A1:00:65
|  |  User list from &#39;net user&#39;
|  |  |  Administrator            TestUser3                Guest
|  |  |  IUSR_RON-WIN2K-TEST      IWAM_RON-WIN2K-TEST      nmap
|  |  |  rontest123               sshd                     SvcCOPSSH
|  |  |_ test1234                 Testing                  TsInternetUser
|  |  Membership of &#39;administrators&#39; from &#39;net localgroup administrators&#39;
|  |  |  Administrator
|  |  |  SvcCOPSSH
|  |  |  test1234
|  |  |_ Testing
|  |  Can the host ping our address?
|  |  |  Pinging 10.0.0.138 with 32 bytes of data:
|  |  |_ Reply from 10.0.0.138: bytes=32 time&lt;10ms TTL=64
|  |  Traceroute back to the scanner
|  |  |_   1   &lt;10 ms   &lt;10 ms   &lt;10 ms  10.0.0.138
|  |  ARP Cache from arp.exe
|  |  |    Internet Address      Physical Address      Type
|  |  |_   10.0.0.138            00-50-56-a1-27-4b     dynamic
|  |  List of listening and established connections (netstat -an)
|  |  |    Proto  Local Address          Foreign Address        State
|  |  |    TCP    0.0.0.0:22             0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:25             0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:80             0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:135            0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:443            0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:445            0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:1025           0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:1028           0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:1029           0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:3389           0.0.0.0:0              LISTENING
|  |  |    TCP    0.0.0.0:4933           0.0.0.0:0              LISTENING
|  |  |    TCP    10.0.0.30:139          0.0.0.0:0              LISTENING
|  |  |    TCP    127.0.0.1:2528         127.0.0.1:2529         ESTABLISHED
|  |  |    TCP    127.0.0.1:2529         127.0.0.1:2528         ESTABLISHED
|  |  |    TCP    127.0.0.1:2531         127.0.0.1:2532         ESTABLISHED
|  |  |    TCP    127.0.0.1:2532         127.0.0.1:2531         ESTABLISHED
|  |  |    TCP    127.0.0.1:5152         0.0.0.0:0              LISTENING
|  |  |    TCP    127.0.0.1:5152         127.0.0.1:2530         CLOSE_WAIT
|  |  |    UDP    0.0.0.0:135            *:*
|  |  |    UDP    0.0.0.0:445            *:*
|  |  |    UDP    0.0.0.0:1030           *:*
|  |  |    UDP    0.0.0.0:3456           *:*
|  |  |    UDP    10.0.0.30:137          *:*
|  |  |    UDP    10.0.0.30:138          *:*
|  |  |    UDP    10.0.0.30:500          *:*
|  |  |    UDP    10.0.0.30:4500         *:*
|  |  |_   UDP    127.0.0.1:1026         *:*
|  |  Full routing table from &#39;netstat -nr&#39;
|  |  |  ===========================================================================
|  |  |  Interface List
|  |  |  0x1 ........................... MS TCP Loopback interface
|  |  |  0x2 ...00 50 56 a1 00 65 ...... VMware Accelerated AMD PCNet Adapter
|  |  |  0x1000004 ...00 50 56 a1 24 c2 ...... VMware Accelerated AMD PCNet Adapter
|  |  |  ===========================================================================
|  |  |  ===========================================================================
|  |  |  Active Routes:
|  |  |  Network Destination        Netmask          Gateway       Interface  Metric
|  |  |           10.0.0.0    255.255.255.0        10.0.0.30       10.0.0.30      1
|  |  |          10.0.0.30  255.255.255.255        127.0.0.1       127.0.0.1      1
|  |  |     10.255.255.255  255.255.255.255        10.0.0.30       10.0.0.30      1
|  |  |          127.0.0.0        255.0.0.0        127.0.0.1       127.0.0.1      1
|  |  |          224.0.0.0        224.0.0.0        10.0.0.30       10.0.0.30      1
|  |  |    255.255.255.255  255.255.255.255        10.0.0.30               2      1
|  |  |  ===========================================================================
|  |  |  Persistent Routes:
|  |  |    None
|_ |_ |_ Route Table</pre>
<h3>Requirements</h3>
<ul>
<li><a href="nmap/libraries/io.htm">io</a></li>
<li><a href="nmap/libraries/math.htm">math</a></li>
<li><a href="nmap/libraries/msrpc.htm">msrpc</a></li>
<li><a href="nmap/libraries/nmap.htm">nmap</a></li>
<li><a href="nmap/libraries/smb.htm">smb</a></li>
<li><a href="nmap/libraries/stdnse.htm">stdnse</a></li>
<li><a href="nmap/libraries/string.htm">string</a></li>
<li><a href="nmap/libraries/stringaux.htm">stringaux</a></li>
<li><a href="nmap/libraries/table.htm">table</a></li>
</ul>
<h3>Code</h3>
<pre>local _G = require &quot;_G&quot;
local io = require &quot;io&quot;
local math = require &quot;math&quot;
local msrpc = require &quot;msrpc&quot;
local nmap = require &quot;nmap&quot;
local smb = require &quot;smb&quot;
local stdnse = require &quot;stdnse&quot;
local string = require &quot;string&quot;
local stringaux = require &quot;stringaux&quot;
local table = require &quot;table&quot;

description = [[
Implements remote process execution similar to the Sysinternals&#39; psexec
tool, allowing a user to run a series of programs on a remote machine and
read the output. This is great for gathering information about servers,
running the same tool on a range of system, or even installing a backdoor on
a collection of computers.

This script can run commands present on the remote machine, such as ping or
tracert, or it can upload a program and run it, such as pwdump6 or a
backdoor. Additionally, it can read the program&#39;s stdout/stderr and return
it to the user (works well with ping, pwdump6, etc), or it can read a file
that the process generated (fgdump, for example, generates a file), or it
can just start the process and let it run headless (a backdoor might run
like this).

To use this, a configuration file should be created and edited. Several
configuration files are included that you can customize, or you can write
your own. This config file is placed in &lt;code&gt;nselib/data/psexec&lt;/code&gt; (if
you aren&#39;t sure where that is, search your system for
&lt;code&gt;default.lua&lt;/code&gt;), then is passed to Nmap as a script argument (for
example, myconfig.lua would be passed as
&lt;code&gt;--script-args=config=myconfig&lt;/code&gt;.

The configuration file consists mainly of a module list. Each module is
defined by a lua table, and contains fields for the name of the program, the
executable and arguments for the program, and a score of other options.
Modules also have an &#39;upload&#39; field, which determines whether or not the
module is to be uploaded. Here is a simple example of how to run &lt;code&gt;net
localgroup administrators&lt;/code&gt;, which returns a list of users in the
&quot;administrators&quot; group (take a look at the &lt;code&gt;examples.lua&lt;/code&gt;
configuration file for these examples):

&lt;code&gt;
  mod = {}
  mod.upload           = false
  mod.name             = &quot;Example 1: Membership of &#39;administrators&#39;&quot;
  mod.program          = &quot;net.exe&quot;
  mod.args             = &quot;localgroup administrators&quot;
  table.insert(modules, mod)
&lt;/code&gt;

&lt;code&gt;mod.upload&lt;/code&gt; is &lt;code&gt;false&lt;/code&gt;, meaning the program should
already be present on the remote system (since &#39;net.exe&#39; is on every version
of Windows, this should be the case). &lt;code&gt;mod.name&lt;/code&gt; defines the name
that the program will have in the output. &lt;code&gt;mod.program&lt;/code&gt; and
&lt;code&gt;mod.args&lt;/code&gt; obviously define which program is going to be run. The
output for this script is this:

&lt;code&gt;
  |  Example 1: Membership of &#39;administrators&#39;
  |  | Alias name     administrators
  |  | Comment        Administrators have complete and unrestricted access to the computer/domain
  |  |
  |  | Members
  |  |
  |  | -------------------------------------------------------------------------------
  |  | Administrator
  |  | ron
  |  | test
  |  | The command completed successfully.
  |  |
  |  |_
&lt;/code&gt;

That works, but it&#39;s really ugly. In general, we can use
&lt;code&gt;mod.find&lt;/code&gt;, &lt;code&gt;mod.replace&lt;/code&gt;, &lt;code&gt;mod.remove&lt;/code&gt;,
and &lt;code&gt;mod.noblank&lt;/code&gt; to clean up the output. For this example, we&#39;re
going to use &lt;code&gt;mod.remove&lt;/code&gt; to remove a lot of the useless lines,
and &lt;code&gt;mod.noblank&lt;/code&gt; to get rid of the blank lines that we don&#39;t
want:

&lt;code&gt;
  mod = {}
  mod.upload           = false
  mod.name             = &quot;Example 2: Membership of &#39;administrators&#39;, cleaned&quot;
  mod.program          = &quot;net.exe&quot;
  mod.args             = &quot;localgroup administrators&quot;
  mod.remove           = {&quot;The command completed&quot;, &quot;%-%-%-%-%-%-%-%-%-%-%-&quot;, &quot;Members&quot;, &quot;Alias name&quot;, &quot;Comment&quot;}
  mod.noblank          = true
  table.insert(modules, mod)
&lt;/code&gt;

We can see that the output is now much cleaner:

&lt;code&gt;
|  Example 2: Membership of &#39;administrators&#39;, cleaned
|  | Administrator
|  | ron
|  |_test
&lt;/code&gt;

For our next command, we&#39;re going to run Windows&#39; ipconfig.exe, which
outputs a significant amount of unnecessary information, and what we do want
isn&#39;t formatted very nicely. All we want is the IP address and MAC address,
and we get it using &lt;code&gt;mod.find&lt;/code&gt; and &lt;code&gt;mod.replace&lt;/code&gt;:

&lt;code&gt;
  mod = {}
  mod.upload           = false
  mod.name             = &quot;Example 3: IP Address and MAC Address&quot;
  mod.program          = &quot;ipconfig.exe&quot;
  mod.args             = &quot;/all&quot;
  mod.maxtime          = 1
  mod.find             = {&quot;IP Address&quot;, &quot;Physical Address&quot;, &quot;Ethernet adapter&quot;}
  mod.replace          = {{&quot;%. &quot;, &quot;&quot;}, {&quot;-&quot;, &quot;:&quot;}, {&quot;Physical Address&quot;, &quot;MAC Address&quot;}}
  table.insert(modules, mod)
&lt;/code&gt;

This module searches for lines that contain &quot;IP Address&quot;, &quot;Physical
Address&quot;, or &quot;Ethernet adapter&quot;.  In these lines, a &quot;. &quot; is replaced with
nothing, a &quot;-&quot; is replaced with a colon, and the term &quot;Physical Address&quot; is
replaced with &quot;MAC Address&quot; (arguably unnecessary). Run ipconfig /all
yourself to see what we start with, but here&#39;s the final output:

&lt;code&gt;
|  Example 3: IP Address and MAC Address
|  | Ethernet adapter Local Area Connection:
|  |    MAC Address: 00:0C:29:12:E6:DB
|  |_   IP Address: 192.168.1.21|  Example 3: IP Address and MAC Address
&lt;/code&gt;

Another interesting part of this script is that variables can be used in any
script fields. There are two types of variables: built-in and user-supplied.
Built-in variables can be anything found in the &lt;code&gt;config&lt;/code&gt; table,
most of which are listed below. The more interesting ones are:

* &lt;code&gt;$lhost&lt;/code&gt;: The address of the scanner
* &lt;code&gt;$rhost&lt;/code&gt;: The address being scanned
* &lt;code&gt;$path&lt;/code&gt;: The path where the scripts are uploaded
* &lt;code&gt;$share&lt;/code&gt;: The share where the script was uploaded

User-supplied arguments are given on the commandline, and can be controlled
by &lt;code&gt;mod.req_args&lt;/code&gt; in the configuration file. Arguments are given
by the user in --script-args; for example, to set $host to &#39;1.2.3.4&#39;, the
user would pass in --script-args=host=1.2.3.4. To ensure the user passes in
the host variable, &lt;code&gt;mod.req_args&lt;/code&gt; would be set to
&lt;code&gt;{&#39;host&#39;}&lt;/code&gt;.

Here is a module that pings the local ip address:

&lt;code&gt;
  mod = {}
  mod.upload           = false
  mod.name             = &quot;Example 4: Can the host ping our address?&quot;
  mod.program          = &quot;ping.exe&quot;
  mod.args             = &quot;$lhost&quot;
  mod.remove           = {&quot;statistics&quot;, &quot;Packet&quot;, &quot;Approximate&quot;, &quot;Minimum&quot;}
  mod.noblank          = true
  mod.env              = &quot;SystemRoot=c:\\WINDOWS&quot;
  table.insert(modules, mod)
&lt;/code&gt;

And the output:
&lt;code&gt;
|  Example 4: Can the host ping our address?
|  | Pinging 192.168.1.100 with 32 bytes of data:
|  | Reply from 192.168.1.100: bytes=32 time&lt;1ms TTL=64
|  | Reply from 192.168.1.100: bytes=32 time&lt;1ms TTL=64
|  | Reply from 192.168.1.100: bytes=32 time&lt;1ms TTL=64
|  |_Reply from 192.168.1.100: bytes=32 time&lt;1ms TTL=64
&lt;/code&gt;

And this module pings an arbitrary address that the user is expected to
give:

&lt;code&gt;
  mod = {}
  mod.upload           = false
  mod.name             = &quot;Example 5: Can the host ping $host?&quot;
  mod.program          = &quot;ping.exe&quot;
  mod.args             = &quot;$host&quot;
  mod.remove           = {&quot;statistics&quot;, &quot;Packet&quot;, &quot;Approximate&quot;, &quot;Minimum&quot;}
  mod.noblank          = true
  mod.env              = &quot;SystemRoot=c:\\WINDOWS&quot;
  mod.req_args         = {&#39;host&#39;}
  table.insert(modules, mod)
&lt;/code&gt;

And the output (note that we had to up the timeout so this would complete;
we&#39;ll talk about override values later):

&lt;code&gt;
$ ./nmap -n -d -p445 --script=smb-psexec --script-args=smbuser=test,smbpass=test,config=examples,host=1.2.3.4 192.168.1.21
[...]
|  Example 5: Can the host ping 1.2.3.4?
|  | Pinging 1.2.3.4 with 32 bytes of data:
|  | Request timed out.
|  | Request timed out.
|  | Request timed out.
|  |_Request timed out.
&lt;/code&gt;

For the final example, we&#39;ll use the &lt;code&gt;upload&lt;/code&gt; command to upload
&lt;code&gt;fgdump.exe&lt;/code&gt;, run it, download its output file, and clean up its
logfile. You&#39;ll have to put &lt;code&gt;fgdump.exe&lt;/code&gt; in the same folder as
the script for this to work:

&lt;code&gt;
  mod = {}
  mod.upload           = true
  mod.name             = &quot;Example 6: FgDump&quot;
  mod.program          = &quot;fgdump.exe&quot;
  mod.args             = &quot;-c -l fgdump.log&quot;
  mod.url              = &quot;http://www.foofus.net/fizzgig/fgdump/&quot;
  mod.tempfiles        = {&quot;fgdump.log&quot;}
  mod.outfile          = &quot;127.0.0.1.pwdump&quot;
  table.insert(modules, mod)
&lt;/code&gt;

The &lt;code&gt;-l&lt;/code&gt; argument for fgdump supplies the name of the logfile.
That file is listed in the &lt;code&gt;mod.tempfiles&lt;/code&gt; field. What, exactly,
does &lt;code&gt;mod.tempfiles&lt;/code&gt; do?  It simply gives the service a list of
files to delete while cleaning up. The cleanup process will be discussed
later.

&lt;code&gt;mod.url&lt;/code&gt; is displayed to the user if &lt;code&gt;mod.program&lt;/code&gt;
isn&#39;t found in &lt;code&gt;nselib/data/psexec/&lt;/code&gt;. And finally,
&lt;code&gt;mod.outfile&lt;/code&gt; is the file that is downloaded from the system.
This is required because fgdump writes to an output file instead of to
stdout (pwdump6, for example, doesn&#39;t require &lt;code&gt;mod.outfile&lt;/code&gt;.

Now that we&#39;ve seen a few possible combinations of fields, I present a
complete list of all fields available and what each of them do. Many of them
will be familiar, but there are a few that aren&#39;t discussed in the examples:

* &lt;code&gt;upload&lt;/code&gt; (boolean) true if it&#39;s a local file to upload, false
                      if it&#39;s already on the host machine. If
                      &lt;code&gt;upload&lt;/code&gt; is true, &lt;code&gt;program&lt;/code&gt; has
                      to be in &lt;code&gt;nselib/data/psexec&lt;/code&gt;.
* &lt;code&gt;name&lt;/code&gt; (string) The name to display above the output. If this
                    isn&#39;t given, &lt;code&gt;program&lt;/code&gt; .. &lt;code&gt;args&lt;/code&gt;
                    are used.
* &lt;code&gt;program&lt;/code&gt; (string) If &lt;code&gt;upload&lt;/code&gt; is false, the name
                       (fully qualified or relative) of the program on the
                       remote system; if &lt;code&gt;upload&lt;/code&gt; is true, the
                       name of the local file that will be uploaded (stored
                       in &lt;code&gt;nselib/data/psexec&lt;/code&gt;).
* &lt;code&gt;args&lt;/code&gt; (string) Arguments to pass to the process.
* &lt;code&gt;env&lt;/code&gt; (string) Environmental variables to pass to the process,
                   as name=value pairs, delimited, per Microsoft&#39;s spec, by
                   NULL characters (&lt;code&gt;string.char(0)&lt;/code&gt;).
* &lt;code&gt;maxtime&lt;/code&gt; (integer) The approximate amount of time to wait for
                       this process to complete. The total timeout for the
                       script before it gives up waiting for a response is
                       the total of all &lt;code&gt;maxtime&lt;/code&gt; fields.
* &lt;code&gt;extrafiles&lt;/code&gt; (string[]) Extra file(s) to upload before running
                          the program. These will not be renamed (because,
                          presumably, if they are then the program won&#39;t be
                          able to find them), but they will be marked as
                          hidden/system/etc. This may cause a race condition
                          if multiple people are doing this at once, but
                          there isn&#39;t much we can do. The files are also
                          deleted afterwards as tempfiles would be. The
                          files have to be in the same directory as programs
                          (&lt;code&gt;nselib/data/psexec&lt;/code&gt;), but the program
                          doesn&#39;t necessarily need to be an uploaded one.
* &lt;code&gt;tempfiles&lt;/code&gt; (string[]) A list of temporary files that the
                         process is known to create (if the process does
                         create files, using this field is recommended
                         because it helps avoid making a mess on the remote
                         system).
* &lt;code&gt;find&lt;/code&gt; (string[]) Only display lines that contain the given
                    string(s) (for example, if you&#39;re searching for a line
                    that contains &quot;IP Address&quot;, set this to &lt;code&gt;{&#39;IP
                    Address&#39;}&lt;/code&gt;. This allows Lua-style patterns, see:
                    http://lua-users.org/wiki/PatternsTutorial (don&#39;t forget
                    to escape special characters with a &lt;code&gt;%&lt;/code&gt;).
                    Note that this is client-side only; the full output is
                    still returned, the rest is removed while displaying.
                    The line of output only needs to match one of the
                    strings given here.
* &lt;code&gt;remove&lt;/code&gt; (string[]) Opposite of &lt;code&gt;find&lt;/code&gt;; this removes
                      lines containing the given string(s) instead of
                      displaying them. Like &lt;code&gt;find&lt;/code&gt;, this is
                      client-side only and uses Lua-style patterns. If
                      &lt;code&gt;remove&lt;/code&gt; and &lt;code&gt;find&lt;/code&gt; are in
                      conflict, then &lt;code&gt;remove&lt;/code&gt; takes priority.
* &lt;code&gt;noblank&lt;/code&gt; (boolean) Setting this to true removes all blank
                       lines from the output.
* &lt;code&gt;replace&lt;/code&gt; (table) A table of values to replace in the strings
                       returned. Like &lt;code&gt;find&lt;/code&gt; and
                       &lt;code&gt;replace&lt;/code&gt;, this is client-side only and
                       uses Lua-style patterns.
* &lt;code&gt;headless&lt;/code&gt; (boolean) If &lt;code&gt;headless&lt;/code&gt; is set to true,
                        the program doesn&#39;t return any output; rather, it
                        runs detached from the service so that, when the
                        service ends, the program keeps going. This can be
                        useful for, say, a monitoring program. Or a
                        backdoor, if that&#39;s what you&#39;re into (a Metasploit
                        payload should work nicely). Not compatible with:
                        &lt;code&gt;find&lt;/code&gt;, &lt;code&gt;remove&lt;/code&gt;,
                        &lt;code&gt;noblank&lt;/code&gt;, &lt;code&gt;replace&lt;/code&gt;,
                        &lt;code&gt;maxtime&lt;/code&gt;, &lt;code&gt;outfile&lt;/code&gt;.
* &lt;code&gt;enabled&lt;/code&gt; (boolean) Set to false, and optionally set
                       &lt;code&gt;disabled_message&lt;/code&gt;, if you don&#39;t want a
                       module to run.  Alternatively, you can comment out
                       the process.
* &lt;code&gt;disabled_message&lt;/code&gt; (string) Displayed if the module is disabled.
* &lt;code&gt;url&lt;/code&gt; (string) A module where the user can download the
                   uploadable file. Displayed if the uploadable file is
                   missing.
* &lt;code&gt;outfile&lt;/code&gt; (string) If set, the specified file will be returned
                       instead of stdout.
* &lt;code&gt;req_args&lt;/code&gt; (string[]) An array of arguments that the user must
                        set in &lt;code&gt;--script-args&lt;/code&gt;.


Any field in the configuration file can contain variables, as discussed.
Here are some of the available built-in variables:

* &lt;code&gt;$lhost&lt;/code&gt;: local IP address as a string.
* &lt;code&gt;$lport&lt;/code&gt;: local port (meaningless; it&#39;ll change by the time the
                       module is uploaded since multiple connections are
                       made).
* &lt;code&gt;$rhost&lt;/code&gt;: remote IP address as a string.
* &lt;code&gt;$rport&lt;/code&gt;: remote port.
* &lt;code&gt;$lmac&lt;/code&gt;: local MAC address as a string in the
                      xx:xx:xx:xx:xx:xx format (note: requires root).
* &lt;code&gt;$path&lt;/code&gt;: the path where the file will be uploaded to.
* &lt;code&gt;$service_name&lt;/code&gt;: the name of the service that will be running
                              this program
* &lt;code&gt;$service_file&lt;/code&gt;: the name of the executable file for the
                              service
* &lt;code&gt;$temp_output_file&lt;/code&gt;: The (ciphered) file where the programs&#39;
                                  output will be written before being
                                  renamed to $output_file
* &lt;code&gt;$output_file&lt;/code&gt;: The final name of the (ciphered) output file.
                             When this file appears, the script downloads it
                             and stops the service
* &lt;code&gt;$timeout&lt;/code&gt;: The total amount of time the script is going to run
                         before it gives up and stops the process
* &lt;code&gt;$share&lt;/code&gt;: The share that everything was uploaded to
* (script args): Any value passed as a script argument will be replaced (for
                 example, if Nmap is run with
                 &lt;code&gt;--script-args=var3=10&lt;/code&gt;, then &lt;code&gt;$var3&lt;/code&gt;
                 in any field will be replaced with &lt;code&gt;10&lt;/code&gt;. See the
                 &lt;code&gt;req_args&lt;/code&gt; field above. Script argument values
                 take priority over config values.

In addition to modules, the configuration file can also contain overrides.
Most of these aren&#39;t useful, so I&#39;m not going to go into great detail.
Search &lt;code&gt;smb-psexec.nse&lt;/code&gt; for any reference to the
&lt;code&gt;config&lt;/code&gt; table; any value in the &lt;code&gt;config&lt;/code&gt; table can be
overridden with the &lt;code&gt;overrides&lt;/code&gt; table in the module. The most
useful value to override is probably &lt;code&gt;timeout&lt;/code&gt;.

Before and after scripts are run, and when there&#39;s an error, a cleanup is
performed. in the cleanup, we attempt to stop the remote processes, delete
all programs, output files, temporary files, extra files, etc. A lot of
effort was put into proper cleanup, since making a mess on remote systems is
a bad idea.


Now that I&#39;ve talked at length about how to use this script, I&#39;d like to
spend some time talking about how it works.

Running a script happens in several stages:

1. An open fileshare is found that we can write to. Finding an open
   fileshare basically consists of enumerating all shares and seeing which
   one(s) we have access to.
2. A &quot;service wrapper&quot;, and all of the uploadable/extra files, are uploaded.
   Before they&#39;re uploaded, the name of each file is obfuscated. The
   obfuscation completely renames the file, is unique for each source system,
   and doesn&#39;t change between multiple runs. This obfuscation has the benefit
   of preventing filenames from overlapping if multiple people are running this
   against the same computer, and also makes it more difficult to determine
   their purposes. The reason for keeping them consistent for every run is to
   make cleanup possible: a random filename, if the script somehow fails, will
   be left on the system.
3. A new service is created and started. The new service has a random name
   for the same reason the files do, and points at the &#39;service wrapper&#39;
   program that was uploaded.
4. The service runs the processes. One by one, the processes are run and
   their output is captured. The output is obfuscated using a simple (and
   highly insecure) xor algorithm, which is designed to prevent casual sniffing
   (but won&#39;t deter intelligent attackers).  This data is put into a temporary
   output file. When all the programs have finished, the file is renamed to the
   final output file
5. The output file is downloaded, and the cleanup is performced. The file
   being renamed triggers the final stage of the program, where the data is
   downloaded and all relevant files are deleted.
6. Output file, now decrypted, is formatted and displayed to the user.

And that&#39;s how it works!

Please post any questions, or suggestions for better modules, to
dev@nmap.org.

And, as usual, since this tool can be dangerous and can easily be viewed as
a malicious tool -- use this responsibly, and don&#39;t break any laws with it.

Some ideas for later versions (TODO):

* Set up a better environment for scripts (&lt;code&gt;PATH&lt;/code&gt;,
  &lt;code&gt;SystemRoot&lt;/code&gt;, etc). Without this, a lot of programs (especially
  ones that deal with network traffic) behave oddly.
* Abstract the code required to run remote processes so other scripts can
  use it more easily (difficult, but will ultimately be well worth it
  later).  (May actually not be possible. There is a lot of overhead and
  specialized code in this module. We&#39;ll see, though.)
* Let user specify an output file (per-script) so they can, for example,
  download binary files (don&#39;t think it&#39;s worthwhile).
* Consider running the external programs in parallel (not sure if the
  benefits outweigh the drawbacks).
* Let the config request the return code from the process instead of the
  output (not sure if doing this would be worth the effort).
* Check multiple shares in a single session to save packets (and see where
  else we can tighten up the amount of traffic).
]]

---
-- @usage
-- nmap --script smb-psexec.nse --script-args=smbuser=&lt;username&gt;,smbpass=&lt;password&gt;[,config=&lt;config&gt;] -p445 &lt;host&gt;
-- sudo nmap -sU -sS --script smb-psexec.nse --script-args=smbuser=&lt;username&gt;,smbpass=&lt;password&gt;[,config=&lt;config&gt;] -p U:137,T:139 &lt;host&gt;
--
-- @output
-- Host script results:
-- |  smb-psexec:
-- |  |  Windows version
-- |  |  |_ Microsoft Windows 2000 [Version 5.00.2195]
-- |  |  IP Address and MAC Address from &#39;ipconfig.exe&#39;
-- |  |  |  Ethernet adapter Local Area Connection 2:
-- |  |  |         MAC Address: 00:50:56:A1:24:C2
-- |  |  |         IP Address: 10.0.0.30
-- |  |  |  Ethernet adapter Local Area Connection:
-- |  |  |_        MAC Address: 00:50:56:A1:00:65
-- |  |  User list from &#39;net user&#39;
-- |  |  |  Administrator            TestUser3                Guest
-- |  |  |  IUSR_RON-WIN2K-TEST      IWAM_RON-WIN2K-TEST      nmap
-- |  |  |  rontest123               sshd                     SvcCOPSSH
-- |  |  |_ test1234                 Testing                  TsInternetUser
-- |  |  Membership of &#39;administrators&#39; from &#39;net localgroup administrators&#39;
-- |  |  |  Administrator
-- |  |  |  SvcCOPSSH
-- |  |  |  test1234
-- |  |  |_ Testing
-- |  |  Can the host ping our address?
-- |  |  |  Pinging 10.0.0.138 with 32 bytes of data:
-- |  |  |_ Reply from 10.0.0.138: bytes=32 time&lt;10ms TTL=64
-- |  |  Traceroute back to the scanner
-- |  |  |_   1   &lt;10 ms   &lt;10 ms   &lt;10 ms  10.0.0.138
-- |  |  ARP Cache from arp.exe
-- |  |  |    Internet Address      Physical Address      Type
-- |  |  |_   10.0.0.138            00-50-56-a1-27-4b     dynamic
-- |  |  List of listening and established connections (netstat -an)
-- |  |  |    Proto  Local Address          Foreign Address        State
-- |  |  |    TCP    0.0.0.0:22             0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:25             0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:80             0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:135            0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:443            0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:445            0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:1025           0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:1028           0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:1029           0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:3389           0.0.0.0:0              LISTENING
-- |  |  |    TCP    0.0.0.0:4933           0.0.0.0:0              LISTENING
-- |  |  |    TCP    10.0.0.30:139          0.0.0.0:0              LISTENING
-- |  |  |    TCP    127.0.0.1:2528         127.0.0.1:2529         ESTABLISHED
-- |  |  |    TCP    127.0.0.1:2529         127.0.0.1:2528         ESTABLISHED
-- |  |  |    TCP    127.0.0.1:2531         127.0.0.1:2532         ESTABLISHED
-- |  |  |    TCP    127.0.0.1:2532         127.0.0.1:2531         ESTABLISHED
-- |  |  |    TCP    127.0.0.1:5152         0.0.0.0:0              LISTENING
-- |  |  |    TCP    127.0.0.1:5152         127.0.0.1:2530         CLOSE_WAIT
-- |  |  |    UDP    0.0.0.0:135            *:*
-- |  |  |    UDP    0.0.0.0:445            *:*
-- |  |  |    UDP    0.0.0.0:1030           *:*
-- |  |  |    UDP    0.0.0.0:3456           *:*
-- |  |  |    UDP    10.0.0.30:137          *:*
-- |  |  |    UDP    10.0.0.30:138          *:*
-- |  |  |    UDP    10.0.0.30:500          *:*
-- |  |  |    UDP    10.0.0.30:4500         *:*
-- |  |  |_   UDP    127.0.0.1:1026         *:*
-- |  |  Full routing table from &#39;netstat -nr&#39;
-- |  |  |  ===========================================================================
-- |  |  |  Interface List
-- |  |  |  0x1 ........................... MS TCP Loopback interface
-- |  |  |  0x2 ...00 50 56 a1 00 65 ...... VMware Accelerated AMD PCNet Adapter
-- |  |  |  0x1000004 ...00 50 56 a1 24 c2 ...... VMware Accelerated AMD PCNet Adapter
-- |  |  |  ===========================================================================
-- |  |  |  ===========================================================================
-- |  |  |  Active Routes:
-- |  |  |  Network Destination        Netmask          Gateway       Interface  Metric
-- |  |  |           10.0.0.0    255.255.255.0        10.0.0.30       10.0.0.30      1
-- |  |  |          10.0.0.30  255.255.255.255        127.0.0.1       127.0.0.1      1
-- |  |  |     10.255.255.255  255.255.255.255        10.0.0.30       10.0.0.30      1
-- |  |  |          127.0.0.0        255.0.0.0        127.0.0.1       127.0.0.1      1
-- |  |  |          224.0.0.0        224.0.0.0        10.0.0.30       10.0.0.30      1
-- |  |  |    255.255.255.255  255.255.255.255        10.0.0.30               2      1
-- |  |  |  ===========================================================================
-- |  |  |  Persistent Routes:
-- |  |  |    None
-- |_ |_ |_ Route Table
--
--@args config  The config file to use (eg, default). Config files require a .lua extension, and are located in &lt;code&gt;nselib/data/psexec&lt;/code&gt;.
--@args nohide  Don&#39;t set the uploaded files to hidden/system/etc.
--@args cleanup Set to only clean up any mess we made (leftover files, processes, etc. on the host OS) on a previous run of the script.
--              This will attempt to delete the files from every share, not just the first one. This is done to prevent leftover
--              files if the OS changes the ordering of the shares (there&#39;s no guarantee of shares coming back in any particular
--              order)
--              Note that cleaning up is still fairly invasive, since it has to re-discover the proper share, connect to it,
--              delete files, open the services manager, etc.
--@args share   Set to override the share used for uploading. This also stops shares from being enumerated, and all other shares
--              will be ignored. No checks are done to determine whether or not this is a valid share before using it. Reqires
--              &lt;code&gt;sharepath&lt;/code&gt; to be set.
--@args sharepath The full path to the share (eg, &lt;code&gt;&quot;c:\windows&quot;&lt;/code&gt;). This is required when creating a service.
--@args time    The minimum amount of time, in seconds, to wait for the external module to finish (default: &lt;code&gt;15&lt;/code&gt;)
--
--@args nocleanup Set to not clean up at all; this leaves the files on the remote system and the wrapper
--              service installed. This is bad in practice, but significantly reduces the network traffic and makes analysis
--              easier.
--@args nocipher Set to disable the ciphering of the returned text (useful for debugging).
--@args key     Script uses this value instead of a random encryption key (useful for debugging the crypto).
-----------------------------------------------------------------------

author = &quot;Ron Bowes&quot;
copyright = &quot;Ron Bowes&quot;
license = &quot;Same as Nmap--See https://nmap.org/book/man-legal.html&quot;
categories = {&quot;intrusive&quot;}
dependencies = {&quot;smb-brute&quot;}



-- Where we tell the user to get nmap_service.exe if it&#39;s not installed.
local NMAP_SERVICE_EXE_DOWNLOAD = &quot;https://nmap.org/psexec/nmap_service.exe&quot;


hostrule = function(host)
  return smb.get_port(host) ~= nil
end

---Get the random-ish filenames used by the service.
--
--@param host The host table, which the names are based on.
--@return Status: true or false.
--@return Name of the remote service, or an error message if status is false.
--@return Name of the executable file that&#39;s run by the service.
--@return Name of the temporary output file.
--@return Name of the final output file.
local function get_service_files(host)
  local status, service_name, service_file, temp_output_file, output_file

  -- Get the name of the service
  status, service_name = smb.get_uniqueish_name(host)
  if(status == false) then
    return false, string.format(&quot;Error generating service name: %s&quot;, service_name)
  end
  stdnse.debug1(&quot;Generated static service name: %s&quot;, service_name)

  -- Get the name and service&#39;s executable file (with a .txt extension for fun)
  status, service_file = smb.get_uniqueish_name(host, &quot;txt&quot;)
  if(status == false) then
    return false, string.format(&quot;Error generating remote filename: %s&quot;, service_file)
  end
  stdnse.debug1(&quot;Generated static service name: %s&quot;, service_name)

  -- Get the temporary output file
  status, temp_output_file = smb.get_uniqueish_name(host, &quot;out.tmp&quot;)
  if(status == false) then
    return false, string.format(&quot;Error generating remote filename: %s&quot;, temp_output_file)
  end
  stdnse.debug1(&quot;Generated static service filename: %s&quot;, temp_output_file)

  -- Get the actual output file
  status, output_file = smb.get_uniqueish_name(host, &quot;out&quot;)
  if(status == false) then
    return false, string.format(&quot;Error generating remote output file: %s&quot;, output_file)
  end
  stdnse.debug1(&quot;Generated static output filename: %s&quot;, output_file)

  -- Return everything
  return true, service_name, service_file, temp_output_file, output_file
end

---Stop/delete the service and delete the service file.
--
--@param host         The host object.
--@param config       The table of configuration values.
function cleanup(host, config)
  local status, err

  -- Add a delay here. For some reason, calling this function too quickly causes SMB to close the connection,
  -- but even a tiny delay makes that issue go away.
  stdnse.sleep(.01)

  -- If the user doesn&#39;t want to clean up, don&#39;t
  if(stdnse.get_script_args( &quot;nocleanup&quot; )) then
    return
  end

  stdnse.debug1(&quot;Entering cleanup() -- errors here can generally be ignored&quot;)
  -- Try stopping the service
  status, err = msrpc.service_stop(host, config.service_name)
  if(status == false) then
    stdnse.debug1(&quot;[cleanup] Couldn&#39;t stop service: %s&quot;, err)
  end

  -- Try deleting the service
  status, err = msrpc.service_delete(host, config.service_name)
  if(status == false) then
    stdnse.debug1(&quot;[cleanup] Couldn&#39;t delete service: %s&quot;, err)
  end

  -- Delete the files
  for _, share in ipairs(config.all_shares) do
    status, err = smb.file_delete(host, share, config.all_files)
  end

  stdnse.debug1(&quot;Leaving cleanup()&quot;)

  return true
end

---Find the file on the system (checks both Nmap&#39;s directories and the current
-- directory).
--
--@param filename  The name of the file.
--@param extension The extension of the file (filename without the extension is tried first).
--@return The full filename, or nil if it couldn&#39;t be found.
local function locate_file(filename, extension)
  stdnse.debug1(&quot;Attempting to find file: %s&quot;, filename)

  extension = extension or &quot;&quot;

  local filename_full = nmap.fetchfile(filename) or nmap.fetchfile(filename .. &quot;.&quot; .. extension)

  if(filename_full == nil) then
    local psexecfile = &quot;nselib/data/psexec/&quot; .. filename
    filename_full = nmap.fetchfile(psexecfile) or nmap.fetchfile(psexecfile .. &quot;.&quot; .. extension)
  end

  -- check for absolute path or relative to current directory
  if(filename_full == nil) then
    local f, err = io.open(filename, &quot;rb&quot;)
    if f == nil then
      stdnse.debug1(&quot;Error opening %s: %s&quot;, filename, err)
      f, err = io.open(filename .. &quot;.&quot; .. extension, &quot;rb&quot;)
      if f == nil then
        stdnse.debug1(&quot;Error opening %s.%s: %s&quot;, filename, extension, err)
        return nil -- unnecessary, but explicit
      else
        f:close()
        return filename .. &quot;.&quot; .. extension
      end
    else
      f:close()
      return filename
    end
  end

  return filename_full
end

---Generate an array of all files that will be uploaded/created, including
-- the temporary file and the output file. This is done so the files can
-- all be deleted during the cleanup phase.
--
--@param config The config table.
--@return The array of files.
local function get_all_files(config)
  local files = {config.service_file, config.output_file, config.temp_output_file}
  for _, mod in ipairs(config.enabled_modules) do
    -- We&#39;re going to delete the module itself
    table.insert(files, mod.upload_name)

    -- We&#39;re also going to delete any temp files...
    if(mod.tempfiles) then
      for _, file in ipairs(mod.tempfiles) do
        table.insert(files, file)
      end
    end

    -- ... and any extra files we uploaded ,,,
    if(mod.extrafiles) then
      for _, file in ipairs(mod.extrafiles) do
        table.insert(files, file)
      end
    end

    -- ... not to mention the output file
    if(mod.outfile and mod.outfile ~= &quot;&quot;) then
      table.insert(files, mod.outfile)
    end
  end

  return files
end

---Decide which share to use. Unless the user overrides it with the &#39;share&#39; and &#39;sharepath&#39;
-- arguments, a the first writable share is used.
--
--@param host The host object.
--@return status true for success, false for failure
--@return share  The share we&#39;re going to use, or an error message.
--@return path   The path on the remote system that points to the share.
--@return shares A list of all shares on the system (used for cleaning up).
local function find_share(host)
  local status, share, path, shares

  -- Determine which share to use
  if(nmap.registry.args.share ~= nil) then
    share = nmap.registry.args.share
    shares = {share}
    path = nmap.registry.args.sharepath
    if(path == nil) then
      return false, &quot;Setting the &#39;share&#39; script-arg requires the &#39;sharepath&#39; to be set as well.&quot;
    end

    stdnse.debug1(&quot;Using share chosen by the user: %s (%s)&quot;, share, path)
  else
    -- Try and find a share to use.
    status, share, path, shares = smb.share_find_writable(host)
    if(status == false) then
      return false, share .. &quot; (May not have an administrator account)&quot;
    end
    if(path == nil) then
      return false, string.format(&quot;Couldn&#39;t find path to writable share (we probably don&#39;t have admin access): &#39;%s&#39;&quot;, share)
    end
    stdnse.debug1(&quot;Found usable share %s (%s) (all writable shares: %s)&quot;, share, path, table.concat(shares, &quot;, &quot;))
  end

  return true, share, path, shares
end

---Recursively replace all variables in the &#39;setting&#39; field with string variables
-- found in the &#39;config&#39; field and in the script-args passed by the user.
--
--@param config  The configuration table (used as a source of variables to replace).
--@param setting The current setting field (generally a string or a table).
--@return setting The setting with all values replaced.
local function replace_variables(config, setting)
  if(type(setting) == &quot;string&quot;) then
    -- Replace module fields with variables in the script-args argument
    for k, v in pairs(nmap.registry.args) do
      setting = string.gsub(setting, &quot;$&quot;..k, v)
    end

    -- Replace module fields with variables in the config file
    for k, v in pairs(config) do
      if((type(v) == &quot;string&quot; or type(v) == &quot;boolean&quot; or type(v) == &quot;number&quot;) and k ~= &quot;key&quot;) then
        setting = string.gsub(setting, &quot;$&quot;..k, v)
      end
    end
  elseif(type(setting) == &quot;table&quot;) then
    for k, v in pairs(setting) do
      setting[k] = replace_variables(config, v)
    end
  end

  return setting
end

---Takes the &#39;overrides&#39; field from a module and replace any configuration variables.
--
--@param config    The config table.
--@param overrides The overrides we&#39;re replacing values with.
--@return config   The new config table.
local function do_overrides(config, overrides)
  if(overrides) then
    if(type(overrides) == &#39;string&#39;) then
      overrides = {overrides}
    end

    for i, v in pairs(overrides) do
      config[i] = v
    end
  end

  return config
end

---Reads, prepares, parses, sanity checks, and pre-processes the configuration file (either the
-- default, or the file passed as a parameter).
--
--@param host The host table.
--@param config A table to fill with configuration values.
--@return status true or false
--@return config The configuration table or an error message.
local function get_config(host, config)
  local status
  local filename = nmap.registry.args.config
  config.enabled_modules  = {}
  config.disabled_modules = {}

  -- Find the config file
  filename = locate_file(filename or &#39;default&#39;, &#39;lua&#39;)
  if(filename == nil) then
    return false, &quot;Couldn&#39;t locate config file: file not found (make sure it has a .lua extension and is in nselib/data/psexec/)&quot;
  end

  -- Load the config file
  local env = setmetatable({modules = {}; overrides = {}; module = function() stdnse.debug1(&quot;WARNING: Selected config file contains an unnecessary call to module()&quot;) end}, {__index = _G})
  stdnse.debug1(&quot;Attempting to load config file: %s&quot;, filename)
  local file = loadfile(filename, &quot;t&quot;, env)
  if(not(file)) then
    return false, &quot;Couldn&#39;t load module file:\n&quot; .. filename
  end

  -- Run the config file
  file()
  local modules = env.modules
  local overrides = env.overrides

  -- Generate a cipher key
  if(stdnse.get_script_args( &quot;nocipher&quot; )) then
    config.key = &quot;&quot;
  elseif(nmap.registry.args.key) then
    config.key = nmap.registry.args.key
  else
    local tmp = {}
    for i = 1, 127, 1 do
      tmp[i] = string.char(math.random(0x20, 0x7F))
    end
    config.key = table.concat(tmp)
    config.key_index = 0
  end

  -- Initialize the timeout
  config.timeout = 0

  -- Figure out which share we&#39;re using (this is the first place in the script where a lot of traffic is generated --
  -- any possible sanity checking should be done before this)
  status, config.share, config.path, config.all_shares = find_share(host)
  if(not(status)) then
    return false, config.share
  end

  -- Get information about the socket; it&#39;s a bit out of place here, but it should go before the mod loop
  status, config.lhost, config.lport, config.rhost, config.rport, config.lmac = smb.get_socket_info(host)
  if(status == false) then
    return false, &quot;Couldn&#39;t get socket information: &quot; .. config.lhost
  end

  -- Get the names of the files we&#39;re going to need
  status, config.service_name, config.service_file, config.temp_output_file, config.output_file = get_service_files(host)
  if(not(status)) then
    return false, config.service_name
  end

  -- Make sure the modules loaded properly
  -- NOTE: If you&#39;re here because of an error that &#39;modules&#39; is undefined, it&#39;s likely because your configuration file doesn&#39;t have a
  -- proper modules table, or your configuration file has a module() declaration at the top.
  if(not(modules) or #modules == 0) then
    return false, string.format(&quot;Configuration file (%s) doesn&#39;t have a proper &#39;modules&#39; table.&quot;, filename)
  end

  -- Make sure we got a proper modules array
  if(type(modules) ~= &quot;table&quot;) then
    return false, string.format(&quot;The chosen configuration file, %s.lua, \z
      doesn&#39;t have a proper &#39;modules&#39; table. If possible, it should be \z
      modified to have a public array called &#39;modules&#39; that contains a \z
      list of all modules that will be run.&quot;, filename)
  end

  -- Loop through the modules for some pre-processing
  stdnse.debug1(&quot;Verifying uploadable executables exist&quot;)
  for i, mod in ipairs(modules) do
    local enabled = true
    -- Do some sanity checking
    if(mod.program == nil) then
      enabled = false
      if(mod.name) then
        mod.disabled_message = string.format(&quot;Configuration error: &#39;%s&#39;: module doesn&#39;t have a program&quot;, mod.name)
      else
        mod.disabled_message = string.format(&quot;Configuration error: Module #%d doesn&#39;t have a program&quot;, i)
      end
    end

    -- Set some defaults, if the user didn&#39;t specify
    mod.name    = mod.name or (string.format(&quot;%s %s&quot;, mod.program, mod.args or &quot;&quot;))
    mod.maxtime = mod.maxtime or 1

    -- Check if they forgot the uploadibility
    if(mod.upload == nil) then
      enabled = false
      mod.disabled_message = string.format(&quot;Configuration error: &#39;%s&#39;: &#39;upload&#39; field is required&quot;, mod.name)
    end

    -- Check if the upload field is set wrong
    if(mod.upload ~= true and mod.upload ~= false) then
      enabled = false
      mod.disabled_message = string.format(&quot;Configuration error: &#39;%s&#39;: &#39;upload&#39; field has to be true or false&quot;, mod.name)
    end

    -- Check for incompatible fields with &#39;headless&#39;
    if(mod.headless) then
      if(mod.find or mod.remove or mod.noblank or mod.replace or (mod.maxtime &gt; 1) or mod.outfile) then
        enabled = false
        mod.disabled_message = string.format(&quot;Configuration error: &#39;%s&#39;: &#39;headless&#39; is incompatible with find, remove, noblank, replace, and maxtime&quot;, mod.name)
      end
    end

    -- Check for improperly formatted &#39;replace&#39;
    if(mod.replace) then
      if(type(mod.replace) ~= &quot;table&quot;) then
        enabled = false
        mod.disabled_message = string.format(&quot;Configuration error: &#39;%s&#39;: &#39;replace&#39; has to be a table of one-element tables (eg. replace = {{&#39;a&#39;=&#39;b&#39;}, {&#39;c&#39;=&#39;d&#39;}})&quot;, mod.name)
      end

      for _, v in ipairs(mod.replace) do
        if(type(v) ~= &#39;table&#39;) then
          enabled = false
          mod.disabled_message = string.format(&quot;Configuration error: &#39;%s&#39;: &#39;replace&#39; has to be a table of one-element tables (eg. replace = {{&#39;a&#39;=&#39;b&#39;}, {&#39;c&#39;=&#39;d&#39;}})&quot;, mod.name)
        end
      end
    end

    -- Set some default values
    if(mod.headless == nil) then
      mod.headless = false
    end
    if(mod.include_stderr == nil) then
      mod.include_stderr = true
    end

    -- Make sure required arguments are given
    if(mod.req_args) then
      if(type(mod.req_args) == &#39;string&#39;) then
        mod.req_args = {mod.req_args}
      end

      -- Keep a table of missing args so we can tell the user all the args they&#39;re missing at once
      local missing_args = {}
      for _, arg in ipairs(mod.req_args) do
        if(nmap.registry.args[arg] == nil) then
          table.insert(missing_args, arg)
        end
      end

      if(#missing_args &gt; 0) then
        enabled = false
        mod.disabled_message = {}
        table.insert(mod.disabled_message, string.format(&quot;Configuration error: Required argument(s) (&#39;%s&#39;) weren&#39;t given.&quot;, table.concat(&#39;&quot;, missing_args, &quot;&#39;)))
        table.insert(mod.disabled_message, &quot;Please add --script-args=[arg]=[value] to your commandline to run this module&quot;)
        if(#missing_args == 1) then
          table.insert(mod.disabled_message, string.format(&quot;For example: --script-args=%s=123&quot;, missing_args[1]))
        else
          table.insert(mod.disabled_message, string.format(&quot;For example: --script-args=%s=123,%s=456...&quot;, missing_args[1], missing_args[2]))
        end
      end
    end

    -- Checks for the uploadable modules
    if(mod.upload) then
      -- Check if the module actually exists
      stdnse.debug1(&quot;Looking for uploadable module: %s or %s.exe&quot;, mod.program, mod.program)
      mod.filename = locate_file(mod.program, &quot;exe&quot;)
      if(mod.filename == nil) then
        enabled = false
        stdnse.debug1(&quot;Couldn&#39;t find uploadable module %s, disabling&quot;, mod.program)
        mod.disabled_message = {string.format(&quot;Couldn&#39;t find uploadable module %s, disabling&quot;, mod.program)}
        if(mod.url) then
          stdnse.debug1(&quot;You can try getting it from: %s&quot;, mod.url)
          table.insert(mod.disabled_message, string.format(&quot;You can try getting it from: %s&quot;, mod.url))
          table.insert(mod.disabled_message, &quot;And placing it in Nmap&#39;s nselib/data/psexec/ directory&quot;)
        end
      else
        -- We found it
        stdnse.debug1(&quot;Found: %s&quot;, mod.filename)

        -- Generate a name to upload them as (we don&#39;t upload with the original names)
        status, mod.upload_name = smb.get_uniqueish_name(host, &quot;txt&quot;, mod.filename)
        if(not(status)) then
          return false, &quot;Couldn&#39;t generate name for uploaded file: &quot; .. mod.upload_name
        end
        stdnse.debug1(&quot;Will upload %s as %s&quot;, mod.filename, mod.upload_name)
      end
    end


    -- Prepare extra files
    if(enabled and mod.extrafiles) then
      -- Make sure we have an array to help save on duplicate code
      if(type(mod.extrafiles) == &quot;string&quot;) then
        mod.extrafiles = {mod.extrafiles}
      end

      -- Loop through all of the extra files
      mod.extrafiles_paths = {}
      for i, extrafile in ipairs(mod.extrafiles) do
        stdnse.debug1(&quot;Looking for extra module: %s&quot;, extrafile)
        mod.extrafiles_paths[i] = locate_file(extrafile)
        if(mod.extrafiles_paths[i] == nil) then
          return false, string.format(&quot;Couldn&#39;t find required file to upload: %s&quot;, extrafile)
        end
        stdnse.debug1(&quot;Found: %s&quot;, mod.extrafiles_paths[i])
      end
    end

    -- Add the timeout to the total
    config.timeout = config.timeout + mod.maxtime

    -- Add the module to the appropriate list
    if(enabled) then
      table.insert(config.enabled_modules, mod)
    else
      table.insert(config.disabled_modules, mod)
    end
  end

  -- Make a list of *all* files (used for cleaning up)
  config.all_files = get_all_files(config)

  -- Finalize the timeout
  local max_timeout = nmap.registry.args.timeout or 15
  config.timeout = math.max(config.timeout, max_timeout)
  stdnse.debug1(&quot;Timeout waiting for a response is %d seconds&quot;, config.timeout)

  -- Do config overrides
  if(overrides) then
    config = do_overrides(config, overrides)
  end

  -- Replace variable values in the configuration (this has to go last)
  stdnse.debug1(&quot;Replacing variables in the modules&#39; fields&quot;)
  for i, mod in ipairs(config.enabled_modules) do
    for k, v in pairs(mod) do
      mod[k] = replace_variables(config, v)
    end
  end

  return true, config
end

---Cipher (or uncipher) a string with a weak xor-based encryption.
--
--@args str    The string go cipher/uncipher.
--@args config The config file for this host (stores the encryption key).
--@return      The decrypted string.
local function cipher(str, config)
  local result = {}
  if(config.key == &quot;&quot;) then
    return str
  end

  for i = 1, #str, 1 do
    local c = string.byte(str, i)
    c = string.char(c ~ string.byte(config.key, config.key_index + 1))

    config.key_index = config.key_index + 1
    config.key_index = config.key_index % #config.key

    result[i] = c
  end

  return table.concat(result)
end

local function get_overrides()
  -- Create some overrides:
  -- 0x00004000 = Encrypted
  -- 0x00002000 = Don&#39;t index this file
  -- 0x00000100 = Temporary file
  -- 0x00000800 = Compressed file
  -- 0x00000002 = Hidden file
  -- 0x00000004 = System file
  local attr = 0x00000004 | 0x00000002 | 0x00000800 | 0x00000100 | 0x00002000 | 0x00004000

  -- Let the user override this behaviour
  if(stdnse.get_script_args( &quot;nohide&quot; )) then
    attr = 0
  end

  -- Create the overrides
  return {file_create_attributes=attr}
end

--- Check if an nmap_service.exe file is the XOR-encoded version from the 5.21
-- release. It works by checking the first few bytes against a known pattern.
-- Returns &lt;code&gt;true&lt;/code&gt; or &lt;code&gt;false&lt;/code&gt;, or else &lt;code&gt;nil&lt;/code&gt; and
-- an error message.
-- @param filename the name of the file to check.
-- @return status
-- @return error message
local function service_file_is_xor_encoded(filename)
  local f, bytes, msg

  f, msg = io.open(filename)
  if not f then
    return nil, msg
  end
  bytes = f:read(2)
  f:close()
  if not bytes or #bytes &lt; 2 then
    return nil, &quot;Can&#39;t read from service file&quot;
  end
  -- This is the XOR-inverse of &quot;MZ&quot;.
  return bytes == &quot;\xb2\xa5&quot;
end

---Upload all of the uploadable files to the remote system.
--
--@param host The host table.
--@param config The configuration table.
--@return status true or false
--@return err    An error message if status is false.
local function upload_everything(host, config)
  local is_xor_encoded, msg
  local overrides = get_overrides()

  -- In Nmap 5.20, it was discovered that nmap_service.exe file was
  -- causing false positives in antivirus software. In an effort to avoid
  -- this, in version 5.21 the file was obfuscated by XORing all its bytes
  -- with 0xFF. That didn&#39;t work, so now the file is not included in the
  -- distribution. But it means we must check if we are dealing with the
  -- original or XOR-encoded version of the file.
  is_xor_encoded, msg = service_file_is_xor_encoded(config.local_service_file)
  if is_xor_encoded == nil then
    return nil, msg
  elseif is_xor_encoded then
    stdnse.debug2(&quot;%s is the XOR-encoded version from the 5.21 release.&quot;, config.local_service_file)
  end

  -- Upload the service file
  stdnse.debug1(&quot;Uploading: %s =&gt; \\\\%s\\%s&quot;, config.local_service_file, config.share, config.service_file)
  local status, err
  status, err = smb.file_upload(host, config.local_service_file, config.share, &quot;\\&quot; .. config.service_file, overrides, is_xor_encoded)
  if(status == false) then
    cleanup(host, config)
    return false, string.format(&quot;Couldn&#39;t upload the service file: %s\n&quot;, err)
  end
  stdnse.debug1(&quot;Service file successfully uploaded!&quot;)

  -- Upload the modules and all their extras
  stdnse.debug1(&quot;Attempting to upload the modules&quot;)
  for _, mod in ipairs(config.enabled_modules) do
    -- If it&#39;s an uploadable module, upload it
    if(mod.upload) then
      stdnse.debug1(&quot;Uploading: %s =&gt; \\\\%s\\%s&quot;, mod.filename, config.share, mod.upload_name)
      status, err = smb.file_upload(host, mod.filename, config.share, &quot;\\&quot; .. mod.upload_name, overrides)
      if(status == false) then
        cleanup(host, config)
        return false, string.format(&quot;Couldn&#39;t upload module %s: %s\n&quot;, mod.program, err)
      end
    end

    -- If it requires extra files, upload them, too
    if(mod.extrafiles) then
      -- Convert to a table, if it&#39;s a string
      if(type(mod.extrafiles) == &quot;string&quot;) then
        mod.extrafiles = {mod.extrafiles}
      end

      -- Loop over the files and upload them
      for i, extrafile in ipairs(mod.extrafiles) do
        local extrafile_local = mod.extrafiles_paths[i]

        stdnse.debug1(&quot;Uploading extra file: %s =&gt; \\\\%s\\%s&quot;, extrafile_local, config.share, extrafile)
        status, err = smb.file_upload(host, extrafile_local, config.share, extrafile, overrides)
        if(status == false) then
          cleanup(host, config)
          return false, string.format(&quot;Couldn&#39;t upload extra file %s: %s\n&quot;, extrafile_local, err)
        end
      end
    end
  end
  stdnse.debug1(&quot;Modules successfully uploaded!&quot;)

  return true
end

---Create the service on the remote system.
--@param host   The host object.
--@param config The configuration table.
--@return status true or false
--@return err    An error message if status is false.
local function create_service(host, config)
  local status, err = msrpc.service_create(host, config.service_name, config.path .. &quot;\\&quot; .. config.service_file)
  if(status == false) then
    stdnse.debug1(&quot;Couldn&#39;t create the service: %s&quot;, err)
    cleanup(host, config)

    if(string.find(err, &quot;MARKED_FOR_DELETE&quot;)) then
      return false, &quot;Service is stuck in &#39;being deleted&#39; phase on remote machine; try setting script-args=randomseed=abc for now&quot;
    else
      return false, string.format(&quot;Couldn&#39;t create the service on the remote machine: %s&quot;, err)
    end
  end

  return true
end

---Create the list of parameters we&#39;re using to start the service. This consists
-- of a few global params, then a group of parameters with options for each process
-- that&#39;s going to be started.
--
--@param config The configuration table.
--@return status true or false
--@return params A table of parameters if status is true, or an error message if status is false.
local function get_params(config)
  local count = 0

  -- Build the table of parameters to pass to the service
  local params = {}
  table.insert(params, config.path .. &quot;\\&quot; .. config.output_file)
  table.insert(params, config.path .. &quot;\\&quot; .. config.temp_output_file)
  table.insert(params, tostring(#config.enabled_modules))
  table.insert(params, &quot;0&quot;)
  table.insert(params, config.key)
  table.insert(params, config.path)
  for _, mod in ipairs(config.enabled_modules) do
    if(mod.upload) then
      table.insert(params, config.path .. &quot;\\&quot; .. mod.upload_name .. &quot; &quot; .. (mod.args or &quot;&quot;))
    else
      table.insert(params, mod.program .. &quot; &quot; .. (mod.args or &quot;&quot;))
    end

    table.insert(params, (mod.env or &quot;&quot;))
    table.insert(params, tostring(mod.headless))
    table.insert(params, tostring(mod.include_stderr))
    table.insert(params, mod.outfile or &quot;&quot;)
  end

  return true, params
end

---Start the service on the remote machine.
--
--@param host   The host object.
--@param config The configuration table.
--@param params The parameters to pass to the service, likely from the &lt;code&gt;get_params&lt;/code&gt; function.
--@return status true or false
--@return err    An error message if status is false.
local function start_service(host, config, params)
  local status, err = msrpc.service_start(host, config.service_name, params)
  if(status == false) then
    stdnse.debug1(&quot;Couldn&#39;t start the service: %s&quot;, err)
    return false, string.format(&quot;Couldn&#39;t start the service on the remote machine: %s&quot;, err)
  end

  return true
end

---Poll for the output file on the remote machine until either the file is created, or the timeout
-- expires.
--
--@param host   The host object.
--@param config The configuration table.
--@return status true or false
--@return result The file if status is true, or an error message if status is false.

local function get_output_file(host, config)
  stdnse.debug1(&quot;Waiting for output file to be created (timeout = %d seconds)&quot;, config.timeout)
  local status, result

  local i = config.timeout
  while true do
    status, result = smb.file_read(host, config.share, &quot;\\&quot; .. config.output_file, nil, {file_create_disposition=1})

    if(not(status) and result ~= &quot;NT_STATUS_OBJECT_NAME_NOT_FOUND&quot;) then
      -- An unexpected error occurred
      stdnse.debug1(&quot;Couldn&#39;t read the file: %s&quot;, result)
      cleanup(host, config)

      return false, string.format(&quot;Couldn&#39;t read the file from the remote machine: %s&quot;, result)
    end

    if(not(status) and result == &quot;NT_STATUS_OBJECT_NAME_NOT_FOUND&quot;) then
      -- An expected error occurred; if this happens, we just wait
      if(i == 0) then
        stdnse.debug1(&quot;Error in remote service: output file was never created!&quot;)
        cleanup(host, config)

        return false, &quot;Error in remote service: output file was never created&quot;
      end

      stdnse.debug1(&quot;Output file %s doesn&#39;t exist yet, waiting for %d more seconds&quot;, config.output_file, i)
      stdnse.sleep(1)
      i = i - 1
    end

    if(status) then
      break
    end
  end

  return true, result
end

---Decide whether or not a line should be included in the output file, based on the module&#39;s
-- find, remove, and noblank settings.
local function should_be_included(mod, line)
  local removed, found

  -- Remove lines from the output, if the module requested it
  removed = false
  if(mod.remove and #mod.remove &gt; 0) then
    -- Make a single string into a table to save code
    if(type(mod.remove) ~= &#39;table&#39;) then
      mod.remove = {mod.remove}
    end

    -- Loop through the module&#39;s find table to see if any of the lines match
    for _, remove in ipairs(mod.remove) do
      if(string.match(line, remove)) then
        removed = true
        break
      end
    end
  end

  -- Remove blank lines if we&#39;re supposed to
  if(mod.noblank and line == &quot;&quot;) then
    removed = true
  end

  -- If the line wasn&#39;t removed, and we are searching for specific text, do the search
  found   = false
  if(mod.find and #mod.find &gt; 0 and not(removed)) then
    -- Make a single string a table to save duplicate code
    if(type(mod.find) ~= &#39;table&#39;) then
      mod.find = {mod.find}
    end

    -- Loop through the module&#39;s find table to see if any of the lines match
    for _, find in ipairs(mod.find) do
      if(string.match(line, find)) then
        found = true
        break
      end
    end
  else
    found = true
  end

  -- Only display the line if it&#39;s found and not removed
  return (found and not(removed))
end

---Alter a line based on the module&#39;s &#39;replace&#39; setting.
local function do_replacements(mod, line)
  if(mod.replace) then
    for _, v in pairs(mod.replace) do
      line = string.gsub(line, v[1], v[2])
    end
  end

  return line
end

---Parse the output file into a neat array.
local function parse_output(config, data)
  -- Allow &#39;data&#39; to be nil. This lets us skip most of the effort when all mods are disabled
  data = data or &quot;&quot;

  -- Split the result at newlines
  local lines = stringaux.strsplit(&quot;\n&quot;, data)

  local module_num = -1
  local mod = nil
  local result = nil

  -- Loop through the lines and parse them into the results table
  local results = {}
  for _, line in ipairs(lines) do
    if(line ~= &quot;&quot;) then
      local this_module_num = tonumber(string.sub(line, 1, 1))

      -- Get the important part of the line
      line = string.sub(line, 2)

      -- Remove the Windows endline (0x0a) from the string (these are left in up to this point to maintain
      -- the ability to download binary files, if that ever comes up
      line = string.gsub(line, &quot;\r&quot;, &quot;&quot;)

      -- If the module_number has changed, increment to the next module
      if(this_module_num ~= (module_num % 10)) then
        -- Increment our module number
        if(module_num &lt; 0) then
          module_num = 0
        else
          module_num = module_num + 1
        end


        -- Go to the next module, and make sure it exists
        mod = config.enabled_modules[module_num + 1]
        if(mod == nil) then
          stdnse.debug1(&quot;Server&#39;s response wasn&#39;t formatted properly (mod %d); if you can reproduce, place report to dev@nmap.org&quot;, module_num)
          stdnse.debug1(&quot;--\n&quot; .. string.gsub(&quot;%%&quot;, &quot;%%&quot;, data) .. &quot;\n--&quot;)
          return false, &quot;Server&#39;s response wasn&#39;t formatted properly; if you can reproduce, place report to dev@nmap.org&quot;
        end

        -- Save this result
        if(result ~= nil) then
          table.insert(results, result)
        end
        result = {}
        result[&#39;name&#39;] = &quot;&lt;no name&gt;&quot;
        result[&#39;lines&#39;] = {}

        if(mod.name) then
          result[&#39;name&#39;] = mod.name
        else
          result[&#39;name&#39;] = string.format(&quot;&#39;%s %s;&quot;, mod.program, (mod.args or &quot;&quot;))
        end
      end


      local include = should_be_included(mod, line)

      -- If we&#39;re including it, do the replacements
      if(include) then
        line = do_replacements(mod, line)
        table.insert(result, line)
      end
    end
  end

  table.insert(results, result)

  -- Loop through the disabled modules and print them out
  for _, mod in ipairs(config.disabled_modules) do
    local result = {}
    result[&#39;name&#39;] = mod.name
    if(mod.disabled_message == nil) then
      mod.disabled_message = {&quot;No reason for disabling the module was found&quot;}
    end

    if(type(mod.disabled_message) == &#39;string&#39;) then
      mod.disabled_message = {mod.disabled_message}
    end

    for _, message in ipairs(mod.disabled_message) do
      table.insert(result, &quot;WARNING: &quot; .. message)
    end

    table.insert(results, result)
  end

  return true, results
end

action = function(host)
  local status, result, err
  local key

  local i

  local params

  local config = {}
  local files

  -- First check for nmap_service.exe; we can&#39;t do anything without it.
  stdnse.debug1(&quot;Looking for the service file: nmap_service or nmap_service.exe&quot;)
  config.local_service_file = locate_file(&quot;nmap_service&quot;, &quot;exe&quot;)
  if (config.local_service_file == nil) then
    if nmap.verbosity() &gt; 0 then
      return string.format([[
Can&#39;t find the service file: nmap_service.exe (or nmap_service).
Due to false positives in antivirus software, this module is no
longer included by default. Please download it from
%s
and place it in nselib/data/psexec/ under the Nmap DATADIR.
]], NMAP_SERVICE_EXE_DOWNLOAD)
    else
      return
    end
  end

  -- Parse the configuration file
  status, config = get_config(host, config)
  if(not(status)) then
    return stdnse.format_output(false, config)
  end

  if(#config.enabled_modules &gt; 0) then
    -- Start by cleaning up, just in case.
    cleanup(host, config)

    -- If the user just wanted a cleanup, do it
    if(stdnse.get_script_args( &quot;cleanup&quot; )) then
      return stdnse.format_output(true, &quot;Cleanup complete.&quot;)
    end

    -- Check if any of the files exist
    status, result, files = smb.files_exist(host, config.share, config.all_files, {})
    if(not(status)) then
      return stdnse.format_output(false, &quot;Couldn&#39;t log in to check for remote files: &quot; .. result)
    end
    if(result &gt; 0) then
      local response = {}
      table.insert(response, &quot;One or more output files already exist on the host, and couldn&#39;t be removed. Try:&quot;)
      table.insert(response, &quot;* Running the script with --script-args=cleanup=1 to force a cleanup (passing -d and looking for error messages might help),&quot;)
      table.insert(response, &quot;* Running the script with --script-args=randomseed=ABCD (or something) to change the name of the uploaded files,&quot;)
      table.insert(response, &quot;* Changing the share and path using, for example, --script-args=share=C$,sharepath=C:, or&quot;)
      table.insert(response, &quot;* Deleting the affected file(s) off the server manually (\\\\&quot; .. config.share .. &quot;\\&quot; .. table.concat(files, &quot;, \\\\&quot; .. config.share .. &quot;\\&quot;) .. &quot;)&quot;)
      return stdnse.format_output(false, response)
    end

    -- Upload the modules
    status, err = upload_everything(host, config)
    if(not(status)) then
      cleanup(host, config)
      return stdnse.format_output(false, err)
    end

    -- Create the service
    status, err = create_service(host, config)
    if(not(status)) then
      cleanup(host, config)
      return stdnse.format_output(false, err)
    end

    -- Get the table of parameters to pass to the service when we start it
    status, params = get_params(config)
    if(not(status)) then
      cleanup(host, config)
      return stdnse.format_output(false, params)
    end

    -- Start the service
    status, params = start_service(host, config, params)
    if(not(status)) then
      cleanup(host, config)
      return stdnse.format_output(false, params)
    end

    -- Get the result
    status, result = get_output_file(host, config, config.share)
    if(not(status)) then
      cleanup(host, config)
      return stdnse.format_output(false, result)
    end

    -- Do a final cleanup
    cleanup(host, config)

    -- Uncipher the file
    result = cipher(result, config)
  end

  -- Build the output into a nice table
  local response
  status, response = parse_output(config, result)
  if(status == false) then
    return stdnse.format_output(false, &quot;Couldn&#39;t parse output: &quot; .. response)
  end

  -- Add a warning if nothing was enabled
  if(#config.enabled_modules == 0) then
    if(#response == 0) then
      response = {&quot;No modules were enabled! Please check your configuration file.&quot;}
    else
      table.insert(response, &quot;No modules were enabled! Please fix any errors displayed above, or check your configuration file.&quot;)
    end
  end

  -- Return the string
  return stdnse.format_output(true, response)
end
</pre>
